Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

.lintstagedrc:

{
  "*.{cmd,html,json,md,sh,txt,xml,yml}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.ts": [
    "npm run lint:ts",
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "npm run lint:style",
    "prettier --write",
    "git add"
  ],
  "ignore": [
    "src/assets/*"
  ]
}

feat(jasmine.namespace): jasmine.createSpyObj()
  src/app/routes/jasmine/namespace/jasmine/method/09.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.getEnv()
  src/app/routes/jasmine/namespace/jasmine/method/10.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.objectContaining()
  src/app/routes/jasmine/namespace/jasmine/method/11.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.stringMatching()
  src/app/routes/jasmine/namespace/jasmine/method/12.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): review
  src/app/routes/jasmine/namespace/jasmine/method/01.spec.ts
  src/app/routes/jasmine/namespace/jasmine/method/02.spec.ts
  src/app/routes/jasmine/namespace/jasmine/method/03.spec.ts
  src/app/routes/jasmine/namespace/jasmine/method/09.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.callFake()
  src/app/routes/jasmine/namespace/spy/and/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.callThrough()
  src/app/routes/jasmine/namespace/spy/and/02.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.identity()
  package.json
  src/app/routes/jasmine/namespace/spy/and/03.spec.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.returnValue()
  src/app/routes/jasmine/namespace/spy/and/04.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.returnValues()
  src/app/routes/jasmine/namespace/spy/and/05.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.stub()
  src/app/routes/jasmine/namespace/spy/and/06.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.and): jasmine.SpyAnd.throwError()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
  src/app/routes/jasmine/namespace/spy/and/07.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.any()
  src/app/routes/jasmine/namespace/spy/calls/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.count()
  src/app/routes/jasmine/namespace/spy/calls/02.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.argsFor()
  src/app/routes/jasmine/namespace/spy/calls/03.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.allArgs()
  src/app/routes/jasmine/namespace/spy/calls/04.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.all()
  src/app/routes/jasmine/namespace/spy/calls/05.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.mostRecent()
  src/app/routes/jasmine/namespace/spy/calls/06.spec.ts
  src/app/routes/jasmine/namespace/spy/calls/07.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace.spy.calls): jasmine.Calls.reset()
  src/app/routes/jasmine/namespace/spy/calls/08.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: prepare component
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-03-component-with-a-dependency/doc-05-07-04-03.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/service/doc-05-07-04-04.service.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: synchronous tests
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: fakeAsync()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
  src/app/routes/jasmine/namespace/spy/and/04.spec.ts
  src/test.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: tick()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: flushMicrotasks()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: using the RxJS scheduler inside fakeAsync()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
  src/test.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): overview
  package-lock.json
  package.json
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-01-component-lifecycle-hooks-overview/doc-03-02-04-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-03-peek-a-boo/doc-03-02-04-03.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-04-spying-oninit-and-ondestroy/03-02-04-04-01-oninit/doc-03-02-04-04-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-04-spying-oninit-and-ondestroy/03-02-04-04-02-ondestroy/doc-03-02-04-04-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-04-spying-oninit-and-ondestroy/doc-03-02-04-04.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-05-onchanges/doc-03-02-04-05.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-06-docheck/doc-03-02-04-06.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/doc-03-02-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-01-ngmodules-introduction/doc-03-06-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): OnChanges.ngOnChanges()
  src/app/core/comn/comn.service.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/03-02-04-02-01-ngonchanges/doc-03-02-04-02-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/03-02-04-02-01-ngonchanges/doc-03-02-04-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
  src/assets/alain-default.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat(doc.fundamental.lifecycle): OnInit.ngOnInit()
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/03-02-04-02-02-ngoninit/doc-03-02-04-02-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/03-02-04-02-02-ngoninit/doc-03-02-04-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): OnDestroy.ngOnDestroy()
  src/app/core/comn/comn.service.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-03-peek-a-boo/doc-03-02-04-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-03-peek-a-boo/doc-03-02-04-03.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-04-spying-oninit-and-ondestroy/03-02-04-04-01-oninit/doc-03-02-04-04-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-05-onchanges/doc-03-02-04-05-02.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): DoCheck.ngDoCheck()
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-06-docheck/doc-03-02-04-06-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-06-docheck/doc-03-02-04-06.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-06-docheck/doc-03-02-04-06.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): AfterContentInit.ngAfterContentInit()
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-02-lifecycle-sequence/doc-03-02-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-08-after-content/doc-03-02-04-08.component.html
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.api.core): ContentChild
  src/app/routes/doc/09-api/09-01-core/09-01-01-entry-points/doc-09-01-01.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-01-entry-points/doc-09-01-01.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/doc-09-01-02-03-03.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/doc-09-01-02-03-03.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/doc-09-01-02.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/doc-09-01-02.component.ts
  src/app/routes/doc/09-api/09-01-core/doc-09-01-routing.module.ts
  src/app/routes/doc/09-api/09-01-core/doc-09-01.module.ts
  src/app/routes/doc/09-api/doc-09-routing.module.ts
  src/app/routes/doc/09-api/doc-09.module.ts
  src/app/routes/doc/doc.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.api.core): <ng-content>
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-01/doc-09-01-02-03-03-01.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-01/doc-09-01-02-03-03-01.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-01.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-01.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/doc-09-01-02-03-03.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/doc-09-01-02-03-03.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.html
  src/app/routes/doc/09-api/09-01-core/doc-09-01.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.api.core): <ng-content select>
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-01.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-01.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-02.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-02/doc-09-01-02-03-03-02.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.html
  src/app/routes/doc/09-api/09-01-core/doc-09-01.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.api.core): ContentChild
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-03/doc-09-01-02-03-03-03.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-03/doc-09-01-02-03-03-03.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.html
  src/app/routes/doc/09-api/09-01-core/doc-09-01.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.api.core): ContentChild with directive
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-04/doc-09-01-02-03-03-04.component.html
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-04/doc-09-01-02-03-03-04.component.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/09-01-02-03-03/09-01-02-03-03-04/doc-09-01-02-03-03-04.directive.ts
  src/app/routes/doc/09-api/09-01-core/09-01-02-primary-entry-point-exports/09-01-02-03-decorators/doc-09-01-02-03.component.html
  src/app/routes/doc/09-api/09-01-core/doc-09-01.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): AfterViewInit.ngAfterViewInit()
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.lifecycle): AfterViewChecked.ngAfterViewChecked()
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-04-lifecycle-hooks/03-02-04-07-after-view/doc-03-02-04-07.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: async()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
  src/test.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): component with async service: DoneFn()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-04-component-with-async-service/doc-05-07-04-04.component.spec.ts
Due: npm run lint:ts, prettier --write
