Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, npm run lint:style, prettier --write

refactor(ng-alain): refactor json-server
  .mock/api/user.controller.ts
  .mock/db/index.ts
  .mock/db/provinces.ts
  .mock/index.ts
  .mock/tsconfig.json
  angular.json
  package-lock.json
  package.json
  proxy.conf.json
Due: prettier --write

refactor(ng-alain): remove ng-alain dependencies
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/core/interceptors/default/default.interceptor.ts
  src/app/routes/doc/03-FUNDAMENTALS/01-tour-of-heroes-app/service/hero.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis-list/crisis-list.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis-list/crisis-list.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/services/crisis.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/hero/services/hero.service.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-02-service-tests/services/doc-05-04-02.04.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-02-service-tests/services/doc-05-04-02.04.service.ts
  src/app/routes/pkgs/ngrx/effects/01-overview/services/x-01.service.ts
  src/app/routes/pkgs/ngrx/entity/02-entity-adapter/service/x02.service.ts
  src/app/shared/shared.module.ts
Due: tslint -c tslint.json, prettier --write

feat: replace tslint with eslint
  .eslintrc.js
  .idea/inspectionProfiles/Project_Default.xml
  .lintstagedrc
  package-lock.json
  package.json
  projects/learning-angular-lib/tslint.json
  src/tslint.json
  tslint.json
Due: prettier --write

refactor: remove angular-gridster2
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.html
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.less
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.ts
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.html
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.less
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.ts
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.html
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.less
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.ts
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.html
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.less
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.ts
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.less
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.ts
  src/app/routes/pkgs/angular-gridster2/08-grid-margins/x-08.component.html
  src/app/routes/pkgs/angular-gridster2/08-grid-margins/x-08.component.less
  src/app/routes/pkgs/angular-gridster2/08-grid-margins/x-08.component.ts
  src/app/routes/pkgs/angular-gridster2/README.md
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/app/routes/routes-routing.module.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

test: fix test failure
  package.json
  src/app/routes/pkgs/jasmine/global/spyOnProperty/01.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/03.spec.ts
  src/app/routes/pkgs/jasmine/namespace/spy/and/03.spec.ts
Due: tslint -c tslint.json, prettier --write

refactor(fundamental.components-templates.template-syntax): remove p-accordion
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-01-html-in-template/doc-03-02-02-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-01-interpolation/doc-03-02-02-02-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-02-template-expression/doc-03-02-02-02-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-03-expression-context/doc-03-02-02-02-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-04-expression-guideline/doc-03-02-02-02-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-02-interpolation-and-template-expression/doc-03-02-02-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/03-02-02-03-01-statement-context/doc-03-02-02-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/doc-03-02-02-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/doc-03-02-02-07.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-08-two-way-binding/doc-03-02-02-08.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-09-built-in-attribute-directives/03-02-02-09-01-ngclass/doc-03-02-02-09-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-09-built-in-attribute-directives/03-02-02-09-02-ngstyle/doc-03-02-02-09-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-09-built-in-attribute-directives/03-02-02-09-03-ngmodel/doc-03-02-02-09-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-09-built-in-attribute-directives/doc-03-02-02-09.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-04-ngswitch/doc-03-02-02-10-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/doc-03-02-02-10.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-11-template-reference-variable/doc-03-02-02-11.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-02-declaring-input-and-output-properties/doc-03-02-02-12-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-03-aliasing-input-output-properties/doc-03-02-02-12-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/doc-03-02-02-12.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-01-the-pipe-operator/doc-03-02-02-13-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-02-safe-navigation-operator/doc-03-02-02-13-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-03-the-non-null-assertion-operator/doc-03-02-02-13-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/doc-03-02-02-13.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-14-built-in-template-functions/03-02-02-14-01-the-pipe-operator/doc-03-02-02-14-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-14-built-in-template-functions/doc-03-02-02-14.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-03-02-04-binding-syntax-an-overview/doc-03-03-02-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/doc-03-03-02.component.html
Due: prettier --write

refactor(fundamental.components-templates.displaying-data): remove p-accordion
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/03-02-01-01/doc-03-02-01-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/03-02-01-02/doc-03-02-01-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/03-02-01-03/doc-03-02-01-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/03-02-01-04/doc-03-02-01-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/03-02-01-05/doc-03-02-01-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/01-displaying-data/doc-03-02-01.component.html
Due: tslint -c tslint.json, prettier --write

refactor(fundamental.components-templates.user-input): remove p-accordion
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-01-binding-to-user-input-event/doc-03-02-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-02-get-user-input-from-the-$event-object/doc-03-02-03-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-03-get-user-input-from-a-template-reference-variable/doc-03-02-03-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-04-key-event-filtering/doc-03-02-03-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-05-on-blur/doc-03-02-03-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-06-put-it-all-together/doc-03-02-03-06.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/doc-03-02-03.component.html
Due: prettier --write

refactor(fundamental.components-templates.template-syntax): remove p-button
  src/app/routes/doc/03-FUNDAMENTALS/02-architecture/03-02-03-intro-to-component/intro-into-component-d.component.html
  src/app/routes/doc/03-FUNDAMENTALS/02-architecture/doc-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/03-02-02-03-01-statement-context/doc-03-02-02-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/doc-03-02-02-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-08-two-way-binding/doc-03-02-02-08-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-09-built-in-attribute-directives/03-02-02-09-01-ngclass/doc-03-02-02-09-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-04-ngswitch/doc-03-02-02-10-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-11-template-reference-variable/doc-03-02-02-11-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-11-template-reference-variable/doc-03-02-02-11.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-02-declaring-input-and-output-properties/doc-03-02-02-12-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-02-declaring-input-and-output-properties/doc-03-02-02-12-02-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-03-aliasing-input-output-properties/doc-03-02-02-12-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-01-the-pipe-operator/doc-03-02-02-13-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-02-safe-navigation-operator/doc-03-02-02-13-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/doc-03-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/doc-03-03.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(fundamental.components-templates): remove p-message
  src/app/routes/doc/03-FUNDAMENTALS/02-architecture/doc-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/doc-03-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-01-binding-to-user-input-event/doc-03-02-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-01-binding-to-user-input-event/doc-03-02-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/04-lifecycle-hooks/03-02-04-04-spying-oninit-and-ondestroy/doc-03-02-04-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/doc-03-03.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(fundamental.components-templates.template-syntax): remove p-selectButton
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-10-built-in-structural-directives/03-02-02-10-04-ngswitch/doc-03-02-02-10-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/doc-03-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/doc-03-03.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(fundamental.components-templates.template-syntax): remove p-toast
  src/app/routes/doc/03-FUNDAMENTALS/01-tour-of-heroes-app/service/message.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/doc-03-02-02-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-03-template-statement/doc-03-02-02-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-07-event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-11-template-reference-variable/doc-03-02-02-11.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-11-template-reference-variable/doc-03-02-02-11.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-02-declaring-input-and-output-properties/doc-03-02-02-12-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-02-declaring-input-and-output-properties/doc-03-02-02-12-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-03-aliasing-input-output-properties/doc-03-02-02-12-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-03-aliasing-input-output-properties/doc-03-02-02-12-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/doc-03-03-02.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/03-user-input/03-02-03-01-binding-to-user-input-event/doc-03-02-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/doc-03-03.module.ts
Due: tslint -c tslint.json, prettier --write

refactor: remove primeng
  angular.json
  package-lock.json
  package.json
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/04-template-link-tags/doc-03-03-06-04-04.component.html
  src/app/routes/exception/403.component.ts
  src/app/routes/exception/404.component.ts
  src/app/routes/exception/500.component.ts
  src/app/routes/pkgs/ngx-translate/02-translate-pipe/ngx-translate-02.component.html
Due: tslint -c tslint.json, prettier --write

chore: change project name to '@luotao/learning-angular'
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): update to @angular/cli@8.3.25
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): update to @angular/cli@9.0.7
  angular.json
  package-lock.json
  package.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/tsconfig.lib.json
  projects/learning-angular-lib/tsconfig.lib.prod.json
  src/tsconfig.app.json
Due: prettier --write

chore(update-to-9): update to @angular/material@9.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): update to @ngrx/store@9.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): update to ng-zorro-antd@9.0.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): update to rxjs@6.5.4
  package-lock.json
  package.json
Due: prettier --write

chore(update-to-9): remove hammerjs
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/04-template-link-tags/doc-03-03-06-04-04.component.html
  src/main.ts
Due: tslint -c tslint.json, prettier --write

chore: reformat tsconfig.json
  .idea/runConfigurations/e2e.xml
  .idea/runConfigurations/test.xml
  .idea/runConfigurations/test_learning_angular_lib.xml
  .mock/tsconfig.json
  e2e/tsconfig.e2e.json
  projects/learning-angular-lib/src/lib/learning-angular-lib.service.spec.ts
  projects/learning-angular-lib/tsconfig.lib.json
  projects/learning-angular-lib/tsconfig.lib.prod.json
  projects/learning-angular-lib/tsconfig.schematics.json
  projects/learning-angular-lib/tsconfig.spec.json
  projects/learning-angular-schematics/tsconfig.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.json
Due: tslint -c projects/learning-angular-lib/tslint.json, prettier --write

fix: fix test error
  package-lock.json
  package.json
  src/app/app.effects.spec.ts
  src/app/routes/doc/03-FUNDAMENTALS/09-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-02-service-tests/services/doc-05-04-02.03.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-02-service-tests/services/doc-05-04-02.04.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-03-component-test-basics/05-04-03-01-component-class-testing/05-04-03-01-03/doc-05-04-03-01-03.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-03-component-test-basics/05-04-03-01-component-class-testing/05-04-03-01-03/services/doc-05-04-03-01-03.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-03-component-with-a-dependency/doc-05-04-04-03.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-03-component-with-a-dependency/services/doc-05-04-04-03.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-04-component-with-async-service/doc-05-04-04-04.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-04-component-with-async-service/services/doc-05-04-04-04.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-05-component-marble-tests/doc-05-04-04-05.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-05-component-marble-tests/services/doc-05-04-04-05.service.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-08-routing-component/doc-05-04-04-08.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-15-override-component-providers/05-04-04-15-01/doc-05-04-04-15-01.component.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/02.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/04.spec.ts
Due: tslint -c tslint.json, prettier --write

ci: optimize build
  angular.json
  browserslist
Due: prettier --write

chore: refactor config files
  .editorconfig
  .eslintignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  .stylelintrc.js
  angular.json
  browserslist
  husky.config.js
  lint-staged.config.js
  prettier.config.js
  src/app/routes/pkgs/jasmine/namespace/jasmine/member/02.spec.ts
Due: tslint -c tslint.json, prettier --write

fix(learning-angular-lib): export ngx-jquery-slider.component
  projects/learning-angular-lib/.eslintignore
  projects/learning-angular-lib/ng-package.json
  projects/learning-angular-lib/package-lock.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/index.ts
  projects/learning-angular-lib/src/public-api.ts
  projects/learning-angular-lib/tsconfig.lib.json
Due: tslint -c projects/learning-angular-lib/tslint.json, prettier --write

fix(learning-angular-lib): fix trying to publish a package that has been compiled by ivy
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/tsconfig.lib.json
  projects/learning-angular-lib/tsconfig.lib.prod.json
  projects/learning-angular-lib/tsconfig.schematics.json
Due: prettier --write

chore: update dependencies
  .eslintignore
  .eslintrc.js
  .idea/codeStyles/Project.xml
  .idea/jsLinters/eslint.xml
  package-lock.json
  package.json
  src/app/core/interceptors/default/default.interceptor.ts
  src/app/reducers/index.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/03-intercept-input-property-changes-with-ngonchanges/doc-03-03-05-03.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/01/doc-03-03-06-03-01-01.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/02/doc-03-03-06-03-01-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/01-styles-in-component-metadata/doc-03-03-06-04-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/02-style-files-in-component-metadata/doc-03-03-06-04-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/03-template-inline-styles/doc-03-03-06-04-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/03/doc-03-03-06-05-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/09-attribute-directives/03-02-09-05-bind-to-a-second-property/doc-03-02-09-05.component.html
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-02-service-tests/services/doc-05-04-02.01.service.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-03-component-with-a-dependency/doc-05-04-04-03.component.spec.ts
  tsconfig.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

fix: fix eslint error
  .eslintignore
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-05-dynamic-forms/services/question-control.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-05-dynamic-forms/vms/question-dropdown.ts
  src/app/routes/doc/03-FUNDAMENTALS/09-httpclient/03-08-04-sending-data-to-the-server/service/doc-03-08-04.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/09-httpclient/03-08-05-advanced-usage/03-08-05-01-configure-request/service/doc-03-08-05-01.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/auth/services/auth.guard.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-04-component-with-async-service/05-04-04-04-01/doc-05-04-04-04-01.component.spec.ts
  src/app/routes/pkgs/jasmine/namespace/matchers/01.spec.ts
  src/app/routes/pkgs/ngrx/entity/02-entity-adapter/store/selectors/02.selectors.ts
  src/app/shared/pipes/nt-json.pipe.ts
  src/typings.d.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): default-change-detection-strategy
  .eslintrc.js
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/01/x-01-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/01/x-01-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/01/x-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/01/x-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-01/x-02-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
  src/app/shared/shared.module.ts
  src/style.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): the-input-reference-changes
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-01/x-02-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-01/x-02-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): an-event-originated-from-the-component-or-one-of-its-children
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-02/x-02-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-02/x-02-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): ChangeDetectorRef.detectChanges()
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-03/02-03-01/x-02-03-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-03/02-03-01/x-02-03-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-03/02-03-02/x-02-03-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-03/02-03-03/x-02-03-03.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-03/x-02-03.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/01/x-02-03-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/01/x-02-03-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/02/x-02-03-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/02/x-02-03-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/03/x-02-03-03.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/03/x-02-03-03.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/x-02-03.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/x-02-03.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): ApplicationRef.tick()
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/02/x-02-03-02.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): ChangeDetectorRef.markForCheck()
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/01/x-02-03-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/02/x-02-03-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/03/03/x-02-03-03.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(a-comprehensive-guide-to-angular-onpush): AsyncPipe
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-04/02-04-01/x-02-04-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-04/02-04-01/x-02-04-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-04/x-02-04.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-04/x-02-04.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/04/x-02-04.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/04/x-02-04.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/vms/i-config.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
Due: tslint -c tslint.json, prettier --write

Path conditions:
  tslint -c tslint.json: any of: src/**/*.ts
  tslint -c projects/learning-angular-lib/tslint.json: any of: projects/learning-angular-lib/src/**/*.ts
  npm run lint:style: (any of: src/**/*.less) or (any of: projects/learning-angular-lib/src/**/*.less)
  prettier --write: any of: *.{ts,js,json,html,css,scss,less,md,yml}
