Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:style, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.ts": ["npm run lint:ts"],
    "*.less": ["npm run lint:style"],
    "*.{ts,js,json,html,css,scss,less,md,yml}": ["prettier --write", "git add"]
  },
  "ignore": ["src/assets/*"]
}

ci: add coverage badge using coveralls
  .circleci/config.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: fix file path for coveralls
  .circleci/config.yml
  README.md
Due: prettier --write

ci: adopt codecov for test coverage badge
  .circleci/config.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: adopt codecov for test coverage badge
  .circleci/config.yml
Due: prettier --write

ci: upgrade codecov@1.0.4
  .circleci/config.yml
Due: prettier --write

ci: adopt codecov
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --write

ci: fine-tune coverage badge
  .circleci/config.yml
  README.md
Due: prettier --write

ci: remove codecov
  .circleci/config.yml
  README.md
  package.json
Due: prettier --write

ci: adopt codecov
  .circleci/config.yml
  README.md
  package.json
Due: prettier --write

feat(doc.cli): ng config
  src/app/routes/doc/08-cli/08-04-config/doc-08-04.component.html
  src/app/routes/doc/08-cli/08-04-config/doc-08-04.component.ts
  src/app/routes/doc/08-cli/doc-08-routing.module.ts
  src/app/routes/doc/08-cli/doc-08.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: npm run lint:ts, prettier --write

feat(doc.cli): ng doc
  src/app/routes/doc/08-cli/08-05-doc/doc-08-05.component.html
  src/app/routes/doc/08-cli/08-05-doc/doc-08-05.component.ts
  src/app/routes/doc/08-cli/doc-08-routing.module.ts
  src/app/routes/doc/08-cli/doc-08.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: npm run lint:ts, prettier --write

feat(doc.cli): ng version
  angular.json
  package.json
  src/app/routes/doc/08-cli/08-06-e2e/doc-08-06.component.html
  src/app/routes/doc/08-cli/08-06-e2e/doc-08-06.component.ts
  src/app/routes/doc/08-cli/08-07-generate/doc-08-07.component.html
  src/app/routes/doc/08-cli/08-07-generate/doc-08-07.component.ts
  src/app/routes/doc/08-cli/08-08-help/doc-08-08.component.html
  src/app/routes/doc/08-cli/08-08-help/doc-08-08.component.ts
  src/app/routes/doc/08-cli/08-09-lint/doc-08-09.component.html
  src/app/routes/doc/08-cli/08-09-lint/doc-08-09.component.ts
  src/app/routes/doc/08-cli/08-10-new/doc-08-10.component.html
  src/app/routes/doc/08-cli/08-10-new/doc-08-10.component.ts
  src/app/routes/doc/08-cli/08-11-run/doc-08-11.component.html
  src/app/routes/doc/08-cli/08-11-run/doc-08-11.component.ts
  src/app/routes/doc/08-cli/08-12-serve/doc-08-12.component.html
  src/app/routes/doc/08-cli/08-12-serve/doc-08-12.component.ts
  src/app/routes/doc/08-cli/08-13-test/doc-08-13.component.html
  src/app/routes/doc/08-cli/08-13-test/doc-08-13.component.ts
  src/app/routes/doc/08-cli/08-14-update/doc-08-14.component.html
  src/app/routes/doc/08-cli/08-14-update/doc-08-14.component.ts
  src/app/routes/doc/08-cli/08-15-version/doc-08-15.component.html
  src/app/routes/doc/08-cli/08-15-version/doc-08-15.component.ts
  src/app/routes/doc/08-cli/08-16-xi18n/doc-08-16.component.html
  src/app/routes/doc/08-cli/08-16-xi18n/doc-08-16.component.ts
  src/app/routes/doc/08-cli/doc-08-routing.module.ts
  src/app/routes/doc/08-cli/doc-08.module.ts
  src/assets/images/20190520115222.png
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: npm run lint:ts, prettier --write

chore: add links to badges
  README.md
Due: prettier --write

feat(doc.cli): ng help
  src/app/routes/doc/08-cli/08-08-help/doc-08-08.component.html
  src/app/routes/doc/08-cli/08-08-help/doc-08-08.component.ts
Due: npm run lint:ts, prettier --write

feat(techniques.angular-libraries): creating lib: learning-angular-lib
  .gitignore
  .lintstagedrc
  angular.json
  package-lock.json
  package.json
  projects/learning-angular-lib/README.md
  projects/learning-angular-lib/karma.conf.js
  projects/learning-angular-lib/ng-package.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/learning-angular-lib.component.spec.ts
  projects/learning-angular-lib/src/lib/learning-angular-lib.component.ts
  projects/learning-angular-lib/src/lib/learning-angular-lib.module.ts
  projects/learning-angular-lib/src/lib/learning-angular-lib.service.spec.ts
  projects/learning-angular-lib/src/lib/learning-angular-lib.service.ts
  projects/learning-angular-lib/src/public-api.ts
  projects/learning-angular-lib/src/test.ts
  projects/learning-angular-lib/tsconfig.lib.json
  projects/learning-angular-lib/tsconfig.spec.json
  projects/learning-angular-lib/tslint.json
  src/app/routes/doc/04-techniques/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.html
  src/app/routes/doc/04-techniques/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.ts
  src/app/routes/doc/04-techniques/04-06-angular-libraries/doc-04-06-routing.module.ts
  src/app/routes/doc/04-techniques/04-06-angular-libraries/doc-04-06.module.ts
  src/app/routes/doc/04-techniques/doc-04.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.json
Due: npm run lint:ts, prettier --write

chore: lint lib code
  .lintstagedrc
  projects/learning-angular-lib/package.json
Due: prettier --write

chore: configure lintstaged for lib
  .lintstagedrc
  package.json
  projects/learning-angular-lib/package.json
Due: prettier --write

ci: setup circleci for lib
  .circleci/config.yml
  package.json
Due: prettier --write

ci: add circleci workflow
  .circleci/config.yml
Due: prettier --write

ci: fix ci jobs dependencies
  .circleci/config.yml
Due: prettier --write

ci: fix lib name
  projects/learning-angular-lib/package.json
Due: prettier --write

ci: build lib before test app
  .circleci/config.yml
  src/app/routes/doc/04-techniques/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.html
Due: prettier --write

ci: fix test coverage for app
  package.json
Due: prettier --write

ci: fix e2e for app
  package.json
Due: prettier --write

ci: fine-tune build and test config
  .circleci/config.yml
  angular.json
  e2e/protractor.ci.conf.js
  e2e/protractor.conf.js
  package.json
  projects/learning-angular-lib/README.md
  projects/learning-angular-lib/karma.conf.js
Due: prettier --write

feat(techniques.angular-libraries): creating lib: services in lib
  .lintstagedrc
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/learning-angular-lib.service.ts
  src/app/app-routing.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-08-forwardref/doc-03-07-04-08.component.ts
  src/app/routes/doc/04-techniques/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.html
  src/app/routes/doc/04-techniques/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-07-component-inside-a-test-host/doc-05-07-04-07.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-10-nested-component-tests/05-07-04-10-01/doc-05-07-04-10-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-15-override-component-providers/doc-05-07-04-15.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-05-attribute-directive-testing/directive/doc-05-07-05-01.directive.spec.ts
Due: npm run lint:ts, prettier --write

feat(techniques.angular-libraries): creating lib: publish lib to npmjs
  package-lock.json
  package.json
  projects/learning-angular-lib/package.json
  src/app/app-routing.module.ts
  tsconfig.json
Due: npm run lint:ts, prettier --write

feat(techniques.angular-libraries): creating lib: linked libraries
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/learning-angular-lib.component.ts
Due: npm run lint:ts, prettier --write

chore: upgrade to ng-alain@7.4.0
  package-lock.json
  package.json
  src/assets/alain-default.less
Due: npm run lint:style, prettier --write

feat(techniques.schematics): schematics for the angular cli
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-01-schematics-overview/doc-04-07-01.component.html
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-01-schematics-overview/doc-04-07-01.component.ts
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-03-schematics-for-libraries/doc-04-07-03.component.html
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-03-schematics-for-libraries/doc-04-07-03.component.ts
  src/app/routes/doc/04-techniques/04-07-schematics/doc-04-07-routing.module.ts
  src/app/routes/doc/04-techniques/04-07-schematics/doc-04-07.module.ts
  src/app/routes/doc/04-techniques/doc-04.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: npm run lint:ts, prettier --write

feat(techniques.schematics): configuring cli schematics
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-01-schematics-overview/doc-04-07-01.component.html
Due: prettier --write

feat(techniques.schematics): schematics CLI
  projects/learning-angular-schematics/.gitignore
  projects/learning-angular-schematics/.npmignore
  projects/learning-angular-schematics/README.md
  projects/learning-angular-schematics/package-lock.json
  projects/learning-angular-schematics/package.json
  projects/learning-angular-schematics/src/collection.json
  projects/learning-angular-schematics/src/nt-component/index.spec.ts
  projects/learning-angular-schematics/src/nt-component/index.ts
  projects/learning-angular-schematics/tsconfig.json
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-01-schematics-overview/doc-04-07-01.component.html
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-02-authoring-schematics/doc-04-07-02.component.html
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-02-authoring-schematics/doc-04-07-02.component.ts
  src/app/routes/doc/04-techniques/04-07-schematics/doc-04-07-routing.module.ts
  src/app/routes/doc/04-techniques/04-07-schematics/doc-04-07.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: npm run lint:ts, prettier --write

feat(techniques.schematics): running a schematic
  projects/learning-angular-schematics/src/nt-component/index.ts
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-02-authoring-schematics/doc-04-07-02.component.html
Due: npm run lint:ts, prettier --write

feat(techniques.schematics): adding a schematic to a collection
  projects/learning-angular-schematics/src/collection.json
  projects/learning-angular-schematics/src/nt-service/index.spec.ts
  projects/learning-angular-schematics/src/nt-service/index.ts
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-02-authoring-schematics/doc-04-07-02.component.html
Due: npm run lint:ts, prettier --write

feat(techniques.schematics): collection contents
  projects/learning-angular-schematics/src/README.md
  projects/learning-angular-schematics/src/collection.json
Due: prettier --write

feat(techniques.schematics): creating a schematics collection
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/schematics/collection.json
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-03-schematics-for-libraries/doc-04-07-03.component.html
Due: prettier --write

feat(techniques.schematics): providing installation support
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/schematics/ng-add/index.ts
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-03-schematics-for-libraries/doc-04-07-03.component.html
Due: npm run lint:ts, prettier --write

feat(techniques.schematics): building your schematics
  projects/learning-angular-lib/tsconfig.schematics.json
  src/app/routes/doc/04-techniques/04-07-schematics/04-07-03-schematics-for-libraries/doc-04-07-03.component.html
Due: prettier --write
