Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

.lintstagedrc:

{
  "*.{cmd,html,json,md,sh,txt,xml,yml}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.ts": [
    "npm run lint:ts",
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "npm run lint:style",
    "prettier --write",
    "git add"
  ],
  "ignore": [
    "src/assets/*"
  ]
}

feat(doc.fundamental.http): listening to progress events
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-03.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-04.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-04.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03.service.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): testing http request
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): HttpTestingController.expectOne()
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): HttpTestingController.match()
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): testing for errors
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
Due: npm run lint:ts, prettier --write

feat(doc.setup.testing): ComponentFixtureAutoDetect
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.setup.testing): EventTarget.dispatchEvent()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

chore: upgrade ng-alain@7.3.0
  .prettierignore
  package-lock.json
  package.json
  src/app/core/net/default.interceptor.ts
  src/app/layout/default/header/components/fullscreen.component.ts
  src/app/layout/default/header/components/header-user/header-user.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.setup.testing): component with external files
  src/app/core/net/default.interceptor.ts
  src/app/layout/default/header/components/fullscreen.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-02/doc-05-07-04-01-02.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-01-component-binding/doc-05-07-04-01-03/doc-05-07-04-01-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-02-component-with-external-files/doc-05-07-04-02.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-02-component-with-external-files/doc-05-07-04-02.component.scss
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-02-component-with-external-files/doc-05-07-04-02.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-02-component-with-external-files/doc-05-07-04-02.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
  src/assets/alain-default.less
  src/styles/index.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat(doc.setup.testing): component with a dependency
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-03-component-with-a-dependency/doc-05-07-04-03.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-03-component-with-a-dependency/doc-05-07-04-03.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-03-component-with-a-dependency/doc-05-07-04-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-04-03-component-with-a-dependency/service/doc-05-07-04-03.service.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(jasmine.global): describe()
  src/app/routes/doc/README.md
  src/app/routes/jasmine/README.md
  src/app/routes/jasmine/global/describe/01.spec.ts
  src/app/routes/jasmine/jasmine.module.ts
  src/app/routes/routes-routing.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(jasmine.global): fdescribe()
  src/app/routes/jasmine/global/fdescribe/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): delete fdescribe()
  src/app/routes/jasmine/global/describe/01.spec.ts
  src/app/routes/jasmine/global/fdescribe/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): beforeAll()
  src/app/routes/jasmine/global/beforeAll/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): afterAll()
  src/app/routes/jasmine/global/afterAll/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): afterEach()
  src/app/routes/jasmine/global/afterEach/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): beforeEach()
  src/app/routes/jasmine/global/beforeEach/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): expect()
  src/app/routes/jasmine/global/expect/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): fail()
  src/app/routes/jasmine/global/fail/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): it()
  src/app/routes/jasmine/global/fail/01.spec.ts
  src/app/routes/jasmine/global/it/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): pending()
  src/app/routes/jasmine/global/fail/01.spec.ts
  src/app/routes/jasmine/global/it/01.spec.ts
  src/app/routes/jasmine/global/pending/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): spyOn()
  src/app/routes/jasmine/global/spyOn/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): spyOnProperty()
  src/app/routes/jasmine/global/spyOnProperty/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toBeCloseTo()
  src/app/routes/jasmine/global/spyOnProperty/01.spec.ts
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toBeFalsy()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toBeLessThanOrEqual()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toBeUndefined()
  package.json
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toEqual()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toHaveBeenCalledWith()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.global): jasmine.Matchers.toThrowError()
  src/app/routes/jasmine/namespace/matchers/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.DEFAULT_TIMEOUT_INTERVAL
  src/app/routes/jasmine/namespace/jasmine/member/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.MAX_PRETTY_PRINT_DEPTH
  src/app/routes/jasmine/namespace/jasmine/member/02.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.addCustomEqualityTester()
  src/app/routes/jasmine/namespace/jasmine/method/01.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.addMatchers()
  src/app/routes/jasmine/namespace/jasmine/method/02.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.any()
  src/app/routes/jasmine/namespace/jasmine/method/03.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.anything()
  src/app/routes/jasmine/namespace/jasmine/method/04.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.arrayContaining()
  src/app/routes/jasmine/namespace/jasmine/method/05.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.arrayWithExactContents()
  src/app/routes/jasmine/namespace/jasmine/method/05.spec.ts
  src/app/routes/jasmine/namespace/jasmine/method/06.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.clock()
  src/app/routes/jasmine/namespace/jasmine/method/07.spec.ts
Due: npm run lint:ts, prettier --write

feat(jasmine.namespace): jasmine.createSpy()
  src/app/routes/jasmine/namespace/jasmine/method/08.spec.ts
Due: npm run lint:ts, prettier --write
