Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

feat: doc: fundamental: form-validation: custom validator
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validator/forbidden-name-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form-validation: use custom validator in template-driven form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validator/forbidden-name-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validator/forbidden-name.directive.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form-validation: cross field validation in reactive form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validator/password-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form-validation: cross field validation in template-driven form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validator/password-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validator/password.directive.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form-validation: async validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/validator/unique-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-01-setup/doc-05-07-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-01-setup/doc-05-07-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.ts
  src/app/routes/doc/05-setup-deployment/doc-05-routing.module.ts
  src/app/routes/doc/05-setup-deployment/doc-05.component.ts
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
  src/app/routes/doc/doc.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: setup
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-01-setup/doc-05-07-01.component.html
Due: editorconfig-tools fix

feat: doc: setup & deployment: testing: config circleci
  .circleci/config.yml
  angular.json
  e2e/protractor.ci.conf.js
  src/karma.conf.js
Due: editorconfig-tools fix

feat: doc: setup & deployment: testing: config circleci: badge
  README.md
Due: editorconfig-tools fix

feat: doc: setup & deployment: testing: test service
  .circleci/config.yml
  angular.json
  package.json
  src/app/core/i18n/i18n.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/doc-05-07-02.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/doc-05-07-02.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-02.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-02.service.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
  src/test.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: services with dependencies
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-03.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-03.service.ts
Due: npm run lint:ts, prettier --write

types: disable typescript version check
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-tools fix

feat: doc: setup & deployment: testing: TestBed
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-04.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-04.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: test HttpClient
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-03.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-04.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-05.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-05.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: test component without di
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-05.service.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-02-service-tests/service/doc-05-07-05.service.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/doc-05-07-03.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/doc-05-07-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: test component with input property and output property
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-01/doc-05-07-03-01-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-01/doc-05-07-03-01-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-01/doc-05-07-03-01-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-02/doc-05-07-03-01-02.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-02/doc-05-07-03-01-02.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-02/doc-05-07-03-01-02.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/doc-05-07-03.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: test component with di using mock
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-03/doc-05-07-03-01-03.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-03/doc-05-07-03-01-03.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-01-component-class-testing/doc-05-07-03-01-03/doc-05-07-03-01-03.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/doc-05-07-03.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
  src/app/routes/passport/login/login.component.html
  src/app/routes/passport/login/login.component.ts
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: beforeEach()
  angular.json
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/doc-05-07-03.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: DebugElement
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.spec.ts
Due: npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: By.css(), DebugElement.query()
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.spec.ts
Due: npm run lint:ts, prettier --write

feat: doc: setup & deployment: testing: component test scenarios: ComponentFixture.detectChanges()
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/doc-03-03-01-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/doc-03-03-01-07.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/doc-03-03-02-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/doc-03-03-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-03-component-test-basics/05-07-03-02-component-dom-testing/doc-05-07-03-02-01/doc-05-07-03-02-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.spec.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.html
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/doc-05-07-04.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.html
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

chore: update deps
  package-lock.json
  package.json
  src/assets/alain-default.less
  src/styles/index.less
  src/styles/theme.less
Due: editorconfig-tools fix, prettier --write, npm run lint:style

polish: adjust overall style
  src/app/layout/default/default.component.html
  src/app/layout/default/default.component.ts
  src/app/layout/default/header/components/fullscreen.component.ts
  src/app/layout/default/header/components/header-i18n/header-i18n.component.html
  src/app/layout/default/header/components/header-i18n/header-i18n.component.less
  src/app/layout/default/header/components/header-i18n/header-i18n.component.ts
  src/app/layout/default/header/components/header-user/header-user.component.html
  src/app/layout/default/header/components/header-user/header-user.component.ts
  src/app/layout/default/header/components/icon.component.ts
  src/app/layout/default/header/components/notify.component.ts
  src/app/layout/default/header/components/storage.component.ts
  src/app/layout/default/header/components/task.component.ts
  src/app/layout/default/header/components/user.component.ts
  src/app/layout/default/header/header.component.html
  src/app/layout/default/header/header.component.ts
  src/app/layout/default/setting-drawer/setting-drawer-item.component.html
  src/app/layout/default/setting-drawer/setting-drawer-item.component.ts
  src/app/layout/default/setting-drawer/setting-drawer.component.html
  src/app/layout/default/setting-drawer/setting-drawer.component.ts
  src/app/layout/default/sidebar/sidebar.component.html
  src/app/layout/layout.module.ts
  src/app/layout/passport/passport.component.html
  src/app/layout/passport/passport.component.less
  src/app/routes/dashboard/dashboard.component.html
  src/app/routes/dashboard/dashboard.component.ts
  src/app/routes/passport/lock/lock.component.html
  src/app/routes/passport/lock/lock.component.less
  src/app/routes/passport/lock/lock.component.ts
  src/app/routes/passport/login/login.component.html
  src/app/routes/passport/login/login.component.less
  src/app/routes/passport/login/login.component.ts
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
  src/assets/alain-default.less
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  src/styles/index.less
  src/styles/theme.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

chore: remove unused components
  src/app/app.module.ts
  src/app/core/README.md
  src/app/core/startup/startup.service.ts
  src/app/routes/doc/02-tutorial/hero-search/hero-search.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-05-pipes-and-change-detection/doc-03-02-11-05.component.html
  src/app/routes/passport/register-result/register-result.component.html
  src/app/routes/passport/register-result/register-result.component.ts
  src/app/routes/passport/register/register.component.html
  src/app/routes/passport/register/register.component.less
  src/app/routes/passport/register/register.component.ts
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat(ng-alain): add reuse route tab
  src/app/core/startup/startup.service.ts
  src/app/delon.module.ts
  src/app/layout/default/default.component.html
  src/styles/index.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

chore: add TODO comments
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-07-angular-elements/doc-03-02-07.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-09-routing-navigation/03-09-02-sample-application/doc-03-09-02-routing.module.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/05-07-04-component-test-scenarios/05-07-03-04-01-component-binding/doc-05-07-04-01-01/doc-05-07-04-01-01.component.ts
  src/assets/alain-default.less
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat: doc: fundamental: dynamic-forms: menu
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/doc-03-03-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/doc-03-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: rxjs: observables
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-01-observables/doc-03-04-01.component.html
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-01-observables/doc-03-04-01.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/doc-03-04-routing.module.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/doc-03-04.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/alain-default.less
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat: doc: fundamental: rxjs: menu
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-02-the-rxjs-library/doc-03-04-02.component.html
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-02-the-rxjs-library/doc-03-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-03-observables-in-angular/doc-03-04-03.component.html
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-03-observables-in-angular/doc-03-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-04-practical-usage/doc-03-04-04.component.html
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-04-practical-usage/doc-03-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-05-compare-to-other-techniques/doc-03-04-05.component.html
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-05-compare-to-other-techniques/doc-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/doc-03-04-routing.module.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/doc-03-04.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: bootstrapping: menu
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-01-observables/doc-03-04-01.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-02-the-rxjs-library/doc-03-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-03-observables-in-angular/doc-03-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-04-practical-usage/doc-03-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-04-observables-rxjs/03-04-05-compare-to-other-techniques/doc-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05-routing.module.ts
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.component.html
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodules: menu
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-01-ngmodules-introduction/doc-03-06-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-01-ngmodules-introduction/doc-03-06-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodules: menu
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/doc-03-06-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/doc-03-06-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-03-frequent-ngmodules/doc-03-06-03.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-03-frequent-ngmodules/doc-03-06-03.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-04-module-types/doc-03-06-04.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-04-module-types/doc-03-06-04.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-05-entry-components/doc-03-06-05.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-05-entry-components/doc-03-06-05.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/doc-03-06-07.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/doc-03-06-07.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-10-sharing-ngmodules/doc-03-06-10.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-10-sharing-ngmodules/doc-03-06-10.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-11-ngmodule-api/doc-03-06-11.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-11-ngmodule-api/doc-03-06-11.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: menu
  src/app/core/net/default.interceptor.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/doc-03-07-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/doc-03-07-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-in-action/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-in-action/doc-03-07-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-providers/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-providers/doc-03-07-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07-routing.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: HttpClient: menu
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08-routing.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: animation: menu
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-01-introduction/doc-03-10-01.component.html
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-01-introduction/doc-03-10-01.component.ts
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-02-transition-and-triggers/doc-03-10-02.component.html
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-02-transition-and-triggers/doc-03-10-02.component.ts
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-03-complex-sequences/doc-03-10-03.component.html
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-03-complex-sequences/doc-03-10-03.component.ts
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-04-reusable-animations/doc-03-10-04.component.html
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-04-reusable-animations/doc-03-10-04.component.ts
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-05-route-transition-animations/doc-03-10-05.component.html
  src/app/routes/doc/03-fundamental/03-10-animation/03-10-05-route-transition-animations/doc-03-10-05.component.ts
  src/app/routes/doc/03-fundamental/03-10-animation/doc-03-10-routing.module.ts
  src/app/routes/doc/03-fundamental/03-10-animation/doc-03-10.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: NgModule: javascript module
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/03-06-02-01-javascript-modules/doc-03-06-02-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/03-06-02-01-javascript-modules/doc-03-06-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/doc-03-06-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/doc-03-06-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: NgModule: @NgModule
  .stylelintignore
  .stylelintrc
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/03-06-02-02-ngmodule/doc-03-06-02-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/03-06-02-02-ngmodule/doc-03-06-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-02-ngmodule-vs-jsmodule/doc-03-06-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
  src/styles/index.less
  src/styles/theme.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat: doc: fundamental: NgModule: using directives with @NgModule
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/03-05-01-javascript-modules/directive/directive-03-05-01.directive.ts
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/03-05-01-javascript-modules/doc-03-05-01.component.html
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/03-05-01-javascript-modules/doc-03-05-01.component.ts
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.component.html
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: NgModule: bootstrap
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: NgModule: introduction
  src/app/routes/doc/03-fundamental/03-05-bootstrapping/doc-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-01-ngmodules-introduction/doc-03-06-01.component.html
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

Path conditions:
  editorconfig-tools fix: any of: *.{cmd,html,json,md,sh,txt,xml,yml}
  npm run lint:ts: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.less)
  npm run lint:style: any of: *.less
  src/assets/*: any of: ignore
