Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.form.form-validation): custom validators
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validator/forbidden-name.directive.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validators/forbidden-name.directive.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validators/forbidden-name.validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.form.form-validation): cross field validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validators/password.directive.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validators/password.validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.form.form-validation): async validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-04-cross-field-validation/validator/password-validator.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-05-async-validation/validators/unique.validator.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.form.dynamic-form): dynamic form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/doc-03-03-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/doc-03-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/doc-03-03-05.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/dynamic-form/dynamic-form-question.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/dynamic-form/dynamic-form-question.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/dynamic-form/dynamic-form.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/dynamic-form/dynamic-form.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/services/question-control.service.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/services/question.service.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/vms/question-base.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/vms/question-dropdown.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-05-dynamic-forms/vms/question-textbox.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/app/routes/pkgs/ngrx/store/02-architecture/02-03-selectors/02-03-04/store/reducers/02-03-04.reducer.ts
  src/app/routes/pkgs/ngrx/store/02-architecture/02-03-selectors/02-03-04/store/selectors/02-03-04.selectors.ts
  src/app/routes/pkgs/ngrx/store/02-architecture/02-03-selectors/02-03-04/store/state/istate.ts
Due: tslint -c tslint.json, prettier --write

feat(never-again-be-confused-when-implementing-control-value-accessor): encapsulate ngx-jquery-slider
  package-lock.json
  package.json
  projects/learning-angular-lib/ng-package.json
  projects/learning-angular-lib/package-lock.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/components/learning-angular-lib.component.spec.ts
  projects/learning-angular-lib/src/lib/components/learning-angular-lib.component.ts
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.css
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.html
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.ts
  projects/learning-angular-lib/src/lib/learning-angular-lib.module.ts
  projects/learning-angular-lib/src/public-api.ts
  projects/learning-angular-lib/tsconfig.lib.json
  projects/learning-angular-lib/tsconfig.spec.json
  src/app/routes/blog/blog.module.ts
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor-routing.module.ts
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.html
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.ts
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, prettier --write

feat(never-again-be-confused-when-implementing-control-value-accessor): use input/output properties
  package-lock.json
  package.json
  projects/learning-angular-lib/package-lock.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.ts
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.html
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.ts
Due: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, prettier --write

feat(never-again-be-confused-when-implementing-control-value-accessor): implement ControlValueAccessor
  projects/learning-angular-lib/package-lock.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.ts
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.html
  src/app/routes/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.component.ts
Due: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, prettier --write

types(never-again-be-confused-when-implementing-control-value-accessor): fix types error
  package-lock.json
  package.json
  projects/learning-angular-lib/package-lock.json
  projects/learning-angular-lib/package.json
  projects/learning-angular-lib/tsconfig.lib.json
Due: prettier --write

ci(never-again-be-confused-when-implementing-control-value-accessor): install packages for lib
  .circleci/config.yml
Due: prettier --write

refactor(doc.setup-deployment.testing): split into a module
  projects/learning-angular-lib/ng-package.json
  projects/learning-angular-lib/src/lib/components/ngx-jquery-slider/ngx-jquery-slider.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07-routing.module.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.component.ts
  src/app/routes/doc/05-setup-deployment/05-07-testing/doc-05-07.module.ts
  src/app/routes/doc/05-setup-deployment/doc-05-routing.module.ts
  src/app/routes/doc/05-setup-deployment/doc-05.component.ts
  src/app/routes/doc/05-setup-deployment/doc-05.module.ts
Due: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, prettier --write

ci: node@12.4.0
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --write

refactor(doc.setup): refactor folder structure
  src/app/routes/doc/01-getting-started/01.md
  src/app/routes/doc/02-setup/doc-02-routing.module.ts
  src/app/routes/doc/02-setup/doc-02.component.html
  src/app/routes/doc/02-setup/doc-02.component.ts
  src/app/routes/doc/02-setup/doc-02.module.ts
  src/app/routes/doc/02-tutorial/doc-02.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/dashboard/dashboard.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/dashboard/dashboard.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/dashboard/dashboard.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/doc-03-01-routing.module.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/doc-03-01.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/doc-03-01.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/doc-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/doc-03-01.module.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-detail/hero-detail.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-detail/hero-detail.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-detail/hero-detail.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-search/hero-search.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-search/hero-search.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/hero-search/hero-search.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/heroes/heroes.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/heroes/heroes.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/heroes/heroes.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/messages/messages.component.html
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/messages/messages.component.scss
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/messages/messages.component.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/service/hero.service.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/service/hero.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/service/heroes-mock.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/service/in-memory-data.service.ts
  src/app/routes/doc/03-fundamental/03-01-tour-of-heroes-app/service/message.service.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/app/routes/doc/doc.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

refactor(doc.fundamental.animations): refactor routes
  src/app/routes/doc/03-fundamental/03-11-animations/03-10-04-reusable-animations/doc-03-10-04.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-10-05-route-transition-animations/doc-03-10-05.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-10-05-route-transition-animations/doc-03-10-05.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-01-introduction/doc-03-11-01.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-01-introduction/doc-03-11-01.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-02-transition-and-triggers/doc-03-11-02.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-02-transition-and-triggers/doc-03-11-02.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-03-complex-sequences/doc-03-11-03.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-03-complex-sequences/doc-03-11-03.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-04-reusable-animations/doc-03-11-04.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-04-reusable-animations/doc-03-11-04.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-05-route-transition-animations/doc-03-11-05.component.html
  src/app/routes/doc/03-fundamental/03-11-animations/03-11-05-route-transition-animations/doc-03-11-05.component.ts
  src/app/routes/doc/03-fundamental/03-11-animations/doc-03-11-routing.module.ts
  src/app/routes/doc/03-fundamental/03-11-animations/doc-03-11.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

refactor(doc.configuration): refactor routes
  scripts/color-less.js
  src/app/routes/blog/blog.module.ts
  src/app/routes/doc/04-techniques/doc-04.module.ts
  src/app/routes/doc/05-dev-workflow/05-02-workspace-config/doc-05-02.module.ts
  src/app/routes/doc/05-dev-workflow/doc-05.module.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-01-overall-json-structure/doc-06-02-01.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-01-overall-json-structure/doc-06-02-01.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-02-project-configuration-options/doc-06-02-02.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-02-project-configuration-options/doc-06-02-02.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-03-generation-schematics/doc-06-02-03.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-03-generation-schematics/doc-06-02-03.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-04-project-tool-configuration-options/doc-06-02-04.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-04-project-tool-configuration-options/doc-06-02-04.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-05-build-target/doc-06-02-05.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-05-build-target/doc-06-02-05.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-06-project-asset-configuration/doc-06-02-06.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/06-02-06-project-asset-configuration/doc-06-02-06.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/doc-06-02-routing.module.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/doc-06-02.component.html
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/doc-06-02.component.ts
  src/app/routes/doc/06-configuration/06-02-workspace-configuration/doc-06-02.module.ts
  src/app/routes/doc/06-configuration/doc-06.module.ts
  src/app/routes/doc/08-cli/doc-08.module.ts
  src/app/routes/doc/09-api/doc-09.module.ts
  src/app/routes/doc/doc.module.ts
  src/app/routes/pkgs/jasmine/jasmine.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

feat(pkgs.ng-alain): delon/abc/full-content
  src/app/routes/pkgs/ng-alain/delon/abc/delon-abc.component.html
  src/app/routes/pkgs/ng-alain/delon/abc/delon-abc.component.ts
  src/app/routes/pkgs/ng-alain/delon/abc/full-content/full-content.component.html
  src/app/routes/pkgs/ng-alain/delon/abc/full-content/full-content.component.ts
  src/app/routes/pkgs/ng-alain/delon/ng-alain-delon-routing.module.ts
  src/app/routes/pkgs/ng-alain/delon/ng-alain-delon.module.ts
  src/app/routes/pkgs/ng-alain/ng-alain.module.ts
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(pkgs.angular-gridster2): route
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.html
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.ts
  src/app/routes/pkgs/angular-gridster2/README.md
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/app/routes/pkgs/ng-alain/README.md
  src/app/routes/routes-routing.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

feat(pkgs.angular-gridster2): home
  package-lock.json
  package.json
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.html
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.less
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): GridsterConfig.api.resize()
  src/app/layout/default/header/header.component.html
  src/app/layout/default/header/header.component.ts
  src/app/layout/default/header/index.md
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.html
  src/app/routes/pkgs/angular-gridster2/01-home/x-01.component.ts
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.html
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.less
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): GridsterConfig.api.optionsChanged()
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.html
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.ts
Due: tslint -c tslint.json, prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

style(pkgs.angular-gridster2.api): adjust style
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.less
  src/styles/index.less
Due: npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): GridsterConfig.compactType
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.html
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.less
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): GridsterConfig.displayGrid
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.html
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.less
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(pkgs.angular-gridster2.api): adjust template layout
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.html
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.less
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.html
  src/app/routes/pkgs/angular-gridster2/03-compact/x-03.component.less
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.html
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.less
Due: npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): draggable.delayStart
  src/app/routes/pkgs/angular-gridster2/04-display-grid/x-04.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.less
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2-routing.module.ts
  src/app/routes/pkgs/angular-gridster2/angular-gridster2.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): draggable.enabled
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.less
Due: npm run lint:style, prettier --write

feat(pkgs.angular-gridster2.api): draggable.ignoreContent, draggable.ignoreContentClass, draggable.dragHandleClass
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.ts
Due: tslint -c tslint.json, prettier --write

feat(pkgs.angular-gridster2.api): disableScrollHorizontal, disableScrollVertical
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.structural-directives): the asterisk prefix
  src/app/routes/doc/03-fundamental/03-03-components-templates/03-03-10-structural-directives/03-03-10-03-the-asterisk-prefix/doc-03-03-10-03.component.html
  src/app/routes/doc/03-fundamental/03-03-components-templates/03-03-10-structural-directives/03-03-10-03-the-asterisk-prefix/doc-03-03-10-03.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.structural-directives): inside *ngFor
  src/app/routes/doc/03-fundamental/03-03-components-templates/03-03-10-structural-directives/03-03-10-04-inside-ngfor/doc-03-03-10-04.component.html
  src/app/routes/doc/03-fundamental/03-03-components-templates/03-03-10-structural-directives/03-03-10-04-inside-ngfor/doc-03-03-10-04.component.ts
Due: tslint -c tslint.json, prettier --write

feat(doc.api): NgTemplateOutlet
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.module.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-06-pipes/doc-09-02-02-06.module.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/doc-09-02-02.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/doc-09-02-02.component.ts
  src/app/routes/doc/09-api/09-02-common/doc-09-02.module.ts
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

fix: fix type errors in templates while building
  src/app/routes/pkgs/angular-gridster2/02-api/x-02.component.html
  src/app/routes/pkgs/angular-gridster2/05-drag/x-05.component.html
Due: prettier --write

feat(doc.api): NgTemplateOutlet: ngTemplateOutletContext
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-01/doc-09-02-02-05-11-01.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-01/doc-09-02-02-05-11-01.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.module.ts
Due: tslint -c tslint.json, prettier --write

feat(doc.api): NgTemplateOutlet: *ngTemplateOutlet
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-02/doc-09-02-02-05-11-02.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-02/doc-09-02-02-05-11-02.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.component.html
Due: tslint -c tslint.json, prettier --write

feat(doc.api): NgTemplateOutlet: *ngTemplateOutlet inside *ngFor
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-03/doc-09-02-02-05-11-03.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/09-02-02-05-11-ng-template-outlet/doc-09-02-02-05-11-03/doc-09-02-02-05-11-03.component.ts
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.component.html
  src/app/routes/doc/09-api/09-02-common/09-02-02-primary-entry-point-exports/09-02-02-05-directives/doc-09-02-02-05.module.ts
Due: tslint -c tslint.json, prettier --write

Path conditions:
  tslint -c tslint.json: any of: src/**/*.ts
  tslint -c projects/learning-angular-lib/tslint.json: any of: projects/learning-angular-lib/src/**/*.ts
  npm run lint:style: (any of: src/**/*.less) or (any of: projects/learning-angular-lib/src/**/*.less)
  prettier --write: any of: *.{ts,js,json,html,css,scss,less,md,yml}
