Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

polish
  package.json
  src/app/core/startup/startup.service.ts
  src/app/doc/02-tutorial/doc-02-routing.module.ts
  src/app/doc/03-fundamental/03-02-component-template/03-02-02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-01-interpolation/doc-03-02-02-02-01.component.ts
  src/app/doc/03-fundamental/doc-03-routing.module.ts
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/el-GR.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/ko-KR.json
  src/assets/tmp/i18n/pl-PL.json
  src/assets/tmp/i18n/tr-TR.json
  src/assets/tmp/i18n/zh-CN.json
  src/assets/tmp/i18n/zh-TW.json
  src/assets/tmp/img/avatar.jpg
  src/environments/environment.hmr.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

adopt ng-alain: fix route
  src/app/routes/doc/03-fundamental/03-01-architecture/doc-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02-routing.module.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
  src/app/routes/doc/03-fundamental/doc-03-routing.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/alain-default.less
  src/assets/tmp/app-data.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

doc: fundamental: pipe: using pipes
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-01-using-pipes/doc-03-02-11-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-01-using-pipes/doc-03-02-11-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
  src/styles/theme.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

doc: fundamental: pipe: parameterizing a pipe
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/directive/some-pipe.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/doc-03-02-11-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/doc-03-02-11-02.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
  src/assets/tmp/app-data.json
  src/styles/theme.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

doc: fundamental: pipe: chaining pipes
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-03-chaining-pipes/doc-03-02-11-03.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-03-chaining-pipes/doc-03-02-11-03.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
  src/assets/alain-default.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

doc: fundamental: pipe: custom pipes
  _mock/_user.ts
  src/app/app.module.ts
  src/app/core/net/default.interceptor.ts
  src/app/core/startup/startup.service.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/directive/some-pipe.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/pipe/some-pipe.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-04-custom-pipes/doc-03-02-11-04.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-04-custom-pipes/doc-03-02-11-04.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: pipe: pipes and change detection
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-05-pipes-and-change-detection/doc-03-02-11-05.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-05-pipes-and-change-detection/doc-03-02-11-05.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-05-pipes-and-change-detection/pipe/pipe-03-02-11-05.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: pipe: pure and impure pipes
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/doc-03-02-11-02.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-02-parameterizing-a-pipe/pipe/pipe-03-02-11-02.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-04-custom-pipes/doc-03-02-11-04.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/pipe/pipe-03-02-11-06.pipe.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/doc-03-02-11.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: pipe: the impure AsyncPipe
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/03-02-11-06-01-the-impure-asyncpipe/doc-03-02-11-06-01.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/03-02-11-06-01-the-impure-asyncpipe/doc-03-02-11-06-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-11-pipe/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/doc-03-02.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-01-introduction/doc-03-03-01-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-01-introduction/doc-03-03-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/app/routes/doc/03-fundamental/doc-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: common foundation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-02-key-differences/doc-03-03-01-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-02-key-differences/doc-03-03-01-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-03-common-foundation/doc-03-03-01-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-03-common-foundation/doc-03-03-01-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: form model setup
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-04-form-model-setup/doc-03-03-01-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-04-form-model-setup/doc-03-03-01-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: data flow in reactive form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/03-03-01-05-01-data-flow-in-reactive-form/doc-03-03-01-05-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/03-03-01-05-01-data-flow-in-reactive-form/doc-03-03-01-05-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/doc-03-03-01-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/doc-03-03-01-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: data flow in template-driven form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/03-03-01-05-02-data-flow-in-template-driven-form/doc-03-03-01-05-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/03-03-01-05-02-data-flow-in-template-driven-form/doc-03-03-01-05-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-05-data-flow-in-forms/doc-03-03-01-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: form validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-06-form-validation/doc-03-03-01-06.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-06-form-validation/doc-03-03-01-06.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: testing reactive form
  angular.json
  package.json
  src/app/core/i18n/i18n.service.spec.ts
  src/app/core/i18n/i18n.service.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.spec.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/doc-03-03-01-07.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/doc-03-03-01-07.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/doc-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: testing reactive form: model to view
  package.json
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.spec.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-01-testing-reactive-form/doc-03-03-01-07-01.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: introduction: testing template-driven form
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.spec.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-01-introduction/03-03-01-07-testing/03-03-01-07-02-testing-template-driven-form/doc-03-03-01-07-02.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: introduction to reactive forms
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-01-introduction-to-reactive-forms/doc-03-03-02-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-01-introduction-to-reactive-forms/doc-03-03-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: getting started
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-02-getting-started/doc-03-03-02-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-02-getting-started/doc-03-03-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/app/shared/shared.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: displaying a form control value
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/03-03-02-03-01-displaying-a-form-control-value/doc-03-03-02-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/03-03-02-03-01-displaying-a-form-control-value/doc-03-03-02-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/doc-03-03-02-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/doc-03-03-02-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: replacing a form control value
  src/app/core/i18n/i18n.service.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/03-03-02-03-02-replacing-a-form-control-value/doc-03-03-02-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/03-03-02-03-02-replacing-a-form-control-value/doc-03-03-02-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-03-managing-control-values/doc-03-03-02-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: FormGroup
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-04-grouping-form-controls/doc-03-03-02-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-04-grouping-form-controls/doc-03-03-02-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: creating nested FormGroup
  src/app/core/i18n/i18n.service.spec.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-05-creating-nested-form-group/doc-03-03-02-05.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-05-creating-nested-form-group/doc-03-03-02-05.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: FormGroup.patchValue()
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-06-partial-model-updates/doc-03-03-02-06.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-06-partial-model-updates/doc-03-03-02-06.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: FormBuilder
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-07-generating-form-controls-with-formbuilder/doc-03-03-02-07.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-07-generating-form-controls-with-formbuilder/doc-03-03-02-07.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: simple form validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-08-simple-form-validation/doc-03-03-02-08.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-08-simple-form-validation/doc-03-03-02-08.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

doc: fundamental: form: reactive-form: FormArray
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-09-dynamic-controls-using-form-arrays/doc-03-03-02-09.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/03-03-02-09-dynamic-controls-using-form-arrays/doc-03-03-02-09.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-02-reactive-form/doc-03-03-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

config test for CI/CD
  e2e/protractor.ci.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  package-lock.json
  package.json
  src/index.html
  src/karma.conf.js
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: add commit message hook
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  scripts/commit-msg.js
  src/index.html
Due: editorconfig-tools fix

feat: add commit message hook: commit convention
  .doc/COMMIT_CONVENTION.md
  package.json
  scripts/commit-msg.js
Due: editorconfig-tools fix

feat: doc: fundamental: form: template-driven form: introduction
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.scss
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/doc-03-03-03.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/doc-03-03-03.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/model/Hero.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  tslint.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form: template-driven form: ngModel
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/doc-03-03-03.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form: template-driven form: ng-touched, ng-untouched, ng-dirty, ng-pristine, ng-valid, ng-invalid
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: form: show and hide validation error messages
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.scss
Due: editorconfig-tools fix

feat: doc: fundamental: form: AbstractControlDirective.reset()
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form: submit the form with ngSubmit
  src/app/routes/doc/03-fundamental/03-03-form/03-03-03-template-driven-form/03-03-03-01-introduction-to-template-driven-forms/doc-03-03-03-01.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: form-validation: template-driven validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-01-template-driven-validation/doc-03-03-04-01.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-01-template-driven-validation/doc-03-03-04-01.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03-routing.module.ts
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: form-validation: reactive form validation
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.html
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/doc-03-03-04.component.html
  src/app/routes/doc/03-fundamental/03-03-form/doc-03-03.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

Path conditions:
  editorconfig-tools fix: any of: *.{cmd,html,json,md,sh,txt,xml,yml}
  npm run lint:ts: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.less)
  npm run lint:style: any of: *.less
  src/assets/*: any of: ignore
