Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

.lintstagedrc:

{
  "*.{cmd,html,json,md,sh,txt,xml,yml}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.ts": [
    "npm run lint:ts",
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "npm run lint:style",
    "prettier --write",
    "git add"
  ],
  "ignore": [
    "src/assets/*"
  ]
}

feat: doc: fundamental: di: non-class dependencies
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/03-07-03-03-01-non-class-dependencies/doc-03-07-03-03-01-config.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/03-07-03-03-01-non-class-dependencies/doc-03-07-03-03-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/03-07-03-03-01-non-class-dependencies/doc-03-07-03-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/doc-03-07-03-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: useFactory
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/03-07-03-03-01-non-class-dependencies/doc-03-07-03-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-04-factory-providers/doc-03-07-03-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-04-factory-providers/doc-03-07-03-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-04-factory-providers/service/doc-03-07-03-04-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-04-factory-providers/service/doc-03-07-03-04-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: multi
  src/app/routes/doc/03-fundamental/03-03-form/03-03-04-form-validation/03-03-04-03-custom-validators/validator/forbidden-name.directive.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-05-predefined-tokens-and-multiple-providers/doc-03-07-03-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-05-predefined-tokens-and-multiple-providers/doc-03-07-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: built-in injection tokens
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-05-predefined-tokens-and-multiple-providers/doc-03-07-03-05.component.html
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: tree-shakable providers
  angular.json
  src/app/app.module.ts
  src/app/layout/default/header/components/user.component.ts
  src/app/layout/layout.module.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-02-template-syntax/03-02-02-02-interpolation-and-template-expression/03-02-02-02-03-expression-context/doc-03-02-02-02-03.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-01-binding-to-a-different-component/doc-03-02-02-12-01.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-02-template-syntax/03-02-02-12-input-and-output-properties/03-02-02-12-03-aliasing-input-output-properties/doc-03-02-02-12-03.component.ts
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-06-component-style/03-02-06-04-loading-component-styles/03-02-06-04-04-template-link-tags/doc-03-02-06-04-04.component.html
  src/app/routes/doc/03-fundamental/03-02-component-template/03-02-06-component-style/03-02-06-04-loading-component-styles/03-02-06-04-04-template-link-tags/doc-03-02-06-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-05-predefined-tokens-and-multiple-providers/doc-03-07-03-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-05-predefined-tokens-and-multiple-providers/service/doc-03-07-03-05.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/doc-03-07-03-06.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/doc-03-07-03-06.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/doc-03-07-03-06.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/service/doc-03-07-03-06-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/service/doc-03-07-03-06-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
  src/assets/alain-default.less
  src/assets/styles/201904030955.css
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat: doc: fundamental: di: override tree-shakable providers
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/doc-03-07-03-06.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-06-tree-shakable-providers/service/doc-03-07-03-06-03.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: nested service dependencies
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-01-nested-service-dependencies/doc-03-07-04-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-01-nested-service-dependencies/doc-03-07-04-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-01-nested-service-dependencies/service/doc-03-07-04-01-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-01-nested-service-dependencies/service/doc-03-07-04-01-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-01-nested-service-dependencies/service/doc-03-07-04-01-03.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: limit service scope to a component subtree
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-02-limit-service-scope-to-a-component-subtree/03-07-04-02-01/doc-03-07-04-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-02-limit-service-scope-to-a-component-subtree/doc-03-07-04-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-02-limit-service-scope-to-a-component-subtree/doc-03-07-04-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-02-limit-service-scope-to-a-component-subtree/service/doc-03-07-04-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: Optional
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-01-optional/doc-03-07-04-03-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-01-optional/doc-03-07-04-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-01-optional/service/doc-03-07-04-03-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/doc-03-07-04-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/doc-03-07-04-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Host
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-02-host/doc-03-07-04-03-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-02-host/doc-03-07-04-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/doc-03-07-04-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Inject
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-03-inject/doc-03-07-04-03-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-03-inject/doc-03-07-04-03-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-03-inject/service/doc-03-07-04-03-03.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/doc-03-07-04-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @SkipSelf
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-04-self/doc-03-07-04-03-04-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-04-self/doc-03-07-04-03-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/03-07-04-03-04-self/service/doc-03-07-04-03-04-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-03-qualify-dependency-lookup-with-parameter-decorators/doc-03-07-04-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: inject the component's DOM element
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-04-inject-the-components-dom-element/directive/doc-03-07-04-04.directive.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-04-inject-the-components-dom-element/doc-03-07-04-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-04-inject-the-components-dom-element/doc-03-07-04-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: useValue
  src/app/layout/default/default.component.ts
  src/app/layout/default/header/components/search.component.ts
  src/app/routes/doc/03-fundamental/03-01-architecture/03-01-03-intro-to-component/radius.directive.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/doc-03-07-04-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/doc-03-07-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/service/doc-03-07-04-05.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: useClass
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/doc-03-07-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/service/doc-03-07-04-05.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: useExisting
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/doc-03-07-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/service/doc-03-07-04-05.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: useFactory
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/doc-03-07-04-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-05-define-dependencies-with-providers/service/doc-03-07-04-05.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: class interface
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-01/doc-03-07-04-06-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-01/doc-03-07-04-06-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-01/service/doc-03-07-04-06-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/doc-03-07-04-06.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/doc-03-07-04-06.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: InjectionToken
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-02/doc-03-07-04-06-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-02/doc-03-07-04-06-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/03-07-04-06-02/service/doc-03-07-04-06-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-06-provider-token-alternatives/doc-03-07-04-06.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: inject into derived class
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-07-inject-into-a-derived-class/doc-03-07-04-07-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-07-inject-into-a-derived-class/doc-03-07-04-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-07-inject-into-a-derived-class/doc-03-07-04-07.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-07-inject-into-a-derived-class/doc-03-07-04-07.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-07-inject-into-a-derived-class/service/doc-03-07-04-07.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: forwardRef()
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-08-forwardref/doc-03-07-04-08.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/03-07-04-08-forwardref/doc-03-07-04-08.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: find a parent component of known type
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-01-find-a-parent-component-of-known-type/doc-03-07-05-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-01-find-a-parent-component-of-known-type/doc-03-07-05-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-01-find-a-parent-component-of-known-type/doc-03-07-05-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: find a parent by its class interface
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-02-find-a-parent-by-its-class-interface/doc-03-07-05-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-02-find-a-parent-by-its-class-interface/doc-03-07-05-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-02-find-a-parent-by-its-class-interface/doc-03-07-05-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-02-find-a-parent-by-its-class-interface/doc-03-07-05-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: find a parent in a tree with @SkipSelf()
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/doc-03-07-05.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: parent class interface
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03.component.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): getting json data
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-05-navigate-the-component-tree/03-07-05-03-find-a-parent-in-a-tree-with-skipself/doc-03-07-05-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/doc-03-08-01.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/doc-03-08-01.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/model/IConfig.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/service/doc-03-08-01.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
  src/assets/tmp/20190426091400.json
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): reading the full response
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/doc-03-08-01.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-01-getting-json-data/service/doc-03-08-01.service.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): error handling
  src/app/app.module.ts
  src/app/core/net/default.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-02-error-handling/doc-03-08-02.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-02-error-handling/doc-03-08-02.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-02-error-handling/model/IConfig.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-02-error-handling/service/doc-03-08-02.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
  src/styles/index.less
  src/styles/theme.less
Due: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style

feat(doc.fundamental.http): retry()
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-02-error-handling/service/doc-03-08-02.service.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): requesting non-json data
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-03-requesting-non-json-data/doc-03-08-03.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-03-requesting-non-json-data/doc-03-08-03.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-03-requesting-non-json-data/service/doc-03-08-03.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
  src/assets/tmp/201904260105800.txt
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): sending data to the server
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-04-sending-data-to-the-server/doc-03-08-04.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-04-sending-data-to-the-server/doc-03-08-04.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-04-sending-data-to-the-server/service/doc-03-08-04.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): configure request
  src/app/core/net/default.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-04-sending-data-to-the-server/service/doc-03-08-04.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-01-configure-request/doc-03-08-05-01.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-01-configure-request/doc-03-08-05-01.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-01-configure-request/service/doc-03-08-05-01.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/doc-03-08-05.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/doc-03-08-05.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): debouncing request
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-01-configure-request/service/doc-03-08-05-01.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/doc-03-08-05-02.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/doc-03-08-05-02.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/model/IPackageInfo.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/service/doc-03-08-05-02.service.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/doc-03-08-05.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): write an interceptor
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/interceptor/doc-03-08-05-03.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/doc-03-08-05.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/doc-03-08.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): provide http interceptors
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/interceptor/doc-03-08-05-03.interceptor.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): HttpEvent
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/interceptor/doc-03-08-05-03.interceptor.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): modify HttpEvent.body
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/doc-03-08-05-03.component.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03.service.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat(doc.fundamental.http): set headers
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-01.interceptor.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-02.interceptor.ts
  src/assets/alain-default.less
Due: npm run lint:ts, prettier --write, npm run lint:style

feat(doc.fundamental.http): logging
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-03-intercepting-requests-and-responses/service/doc-03-08-05-03-03.interceptor.ts
Due: npm run lint:ts, prettier --write

feat(doc.fundamental.http): empty headers for npmsearch.com
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/doc-03-08-05-02.component.html
  src/app/routes/doc/03-fundamental/03-08-httpclient/03-08-05-advanced-usage/03-08-05-02-debouncing-requests/service/doc-03-08-05-02.interceptor.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write
