Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, npm run lint:ts, prettier --write, npm run lint:style, src/assets/*

feat: doc: fundamental: ngmodule: frequently used modules(BrowserModule, CommonModule, FormsModule, ReactiveFormsModule, RouterModule, HttpClientModule)
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-03-frequent-ngmodules/doc-03-06-03.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-03-frequent-ngmodules/doc-03-06-03.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: module type(domain module, routed module, routing module, service module, widget module)
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-04-module-types/doc-03-06-04.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-04-module-types/doc-03-06-04.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: entry component
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-05-entry-components/doc-03-06-05.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-05-entry-components/doc-03-06-05.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: feature module
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06-01/doc-03-06-06-01.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06-01/doc03060601/doc03060601.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-06-feature-modules/doc-03-06-06.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: providedIn
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/doc-03-06-07-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/doc-03-06-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/service/doc-03-06-07-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/service/doc-03-06-07-02.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/doc-03-06-07.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/doc-03-06-07.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: providedIn & providers
  package.json
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/service/doc-03-06-07-01-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-01-providing-a-service/service/doc-03-06-07-01-02.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-02-providedin-and-ngmodules/doc-03-06-07-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-02-providedin-and-ngmodules/doc-03-06-07-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-02-providedin-and-ngmodules/service/doc-03-06-07-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/03-06-07-02-providedin-and-ngmodules/service/doc-03-06-07-02-02.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-07-providers/doc-03-06-07.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
  src/app/routes/doc/03-fundamental/doc-03.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: providing a singleton service
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-01-providing-a-singleton-service/doc-03-06-08-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-01-providing-a-singleton-service/doc-03-06-08-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-01-providing-a-singleton-service/service/doc-03-06-08-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-01-providing-a-singleton-service/service/doc-03-06-08-02.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: forRoot(), forChild()
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/doc-03-06-08-02-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/doc-03-06-08-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/doc-03-06-08-02-01.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/service/doc-03-06-08-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-02/doc-03-06-08-02-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-02/doc-03-06-08-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-02/doc-03-06-08-02-02.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-03/doc-03-06-08-02-03.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-03/doc-03-06-08-02-03.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-03/doc-03-06-08-02-03.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: providers precedence
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/doc-03-06-08-02-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-01/service/doc-03-06-08-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-02-the-for-root-pattern/doc-03-06-08-02-03/doc-03-06-08-02-03.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: prevent re-import a NgModule
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-03-prevent-reimport-of-the-ngmodule/doc-03-06-08-03-01/doc-03-06-08-03-01.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-03-prevent-reimport-of-the-ngmodule/doc-03-06-08-03.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-03-prevent-reimport-of-the-ngmodule/doc-03-06-08-03.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/doc-03-06-08.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: lazy-loading: setup lazy-loading modules
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-01/doc-03-06-09-01-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-01/doc-03-06-09-01.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-01/doc-03-06-09-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-01/doc-03-06-09-01.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-02/doc-03-06-09-02-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-02/doc-03-06-09-02.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-02/doc-03-06-09-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/03-06-09-02/doc-03-06-09-02.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06-routing.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: lazy-loading: enable lazy-loading
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-09-lazy-loading-ngmodules/doc-03-06-09-routing.module.ts
  src/app/routes/doc/03-fundamental/03-09-routing-navigation/03-09-02-sample-application/doc-03-09-02-routing.module.ts
  src/app/routes/routes-routing.module.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: sharing modules
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-10-sharing-ngmodules/doc-03-06-10.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-10-sharing-ngmodules/doc-03-06-10.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: NgModule API
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-11-ngmodule-api/doc-03-06-11.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-11-ngmodule-api/doc-03-06-11.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: NgModule FAQ
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: NgModule FAQ: forRoot()/forChild()
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: ngmodule: NgModule FAQ: provider precedence
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-01/doc-03-06-12-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-01/doc-03-06-12-01-01.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-02/doc-03-06-12-01-02.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-02/doc-03-06-12-01-02.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-03/doc-03-06-12-01-03.component.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/doc-03-06-12-01-03/doc-03-06-12-01-03.module.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/03-06-12-01/service/doc-03-06-12-01.service.ts
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
  src/app/routes/doc/03-fundamental/03-06-ngmodules/doc-03-06.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: ngmodule: NgModule FAQ: how do i restrict service scope to a module
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: ngmodule: NgModule FAQ: why does lazy loading create a child injector
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: ngmodule: NgModule FAQ: why does angular need entryComponents
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-12-ngmodule-faq/doc-03-06-12.component.html
Due: editorconfig-tools fix

feat: doc: fundamental: di: create and register an injectable service
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/service/doc-03-07-01-mock.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/service/doc-03-07-01.service.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: injecting services
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

fix: fix e2e test
  src/app/routes/doc/03-fundamental/03-06-ngmodules/03-06-08-singleton-services/03-06-08-03-prevent-reimport-of-the-ngmodule/doc-03-06-08-03-01/doc-03-06-08-03-01.module.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: testing components with dependencies
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.spec.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: services that need other services
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.spec.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/service/doc-03-07-01-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/service/doc-03-07-01.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Optional()
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/service/doc-03-07-01-02.service.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Optional()
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-01-angular-dependency-injection/doc-03-07-01.component.spec.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: where to configure providers
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/doc-03-07-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/doc-03-07-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Injectable level configuration
  src/app/app.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/doc-03-07-02-01-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/doc-03-07-02-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/service/doc-03-07-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @NgModule level configuration
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/doc-03-07-02-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/doc-03-07-02-01-01.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/service/doc-03-07-02-01-01-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/service/doc-03-07-02-01-01-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/service/doc-03-07-02-01-01-03.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: @NgModule level configuration
  src/app/app.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-01/doc-03-07-02-01-01.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-02/doc-03-07-02-01-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-02/doc-03-07-02-01-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-02/service/doc-03-07-02-01-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: @Component level configuration
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-03/doc-03-07-02-01-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-03/doc-03-07-02-01-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-03/service/doc-03-07-02-01-03-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/03-07-02-01-03/service/doc-03-07-02-01-03-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-01-where-to-configure-providers/doc-03-07-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: service isolation
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-01/doc-03-07-02-02-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-01/doc-03-07-02-02-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/doc-03-07-02-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/doc-03-07-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/doc-03-07-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: multiple edit sessions
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-02/doc-03-07-02-02-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-02/doc-03-07-02-02-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/doc-03-07-02-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: specialized providers
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/doc-03-07-02-02-03-01-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/doc-03-07-02-02-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/doc-03-07-02-02-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/doc-03-07-02-02-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/service/doc-03-07-02-02-03-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/service/doc-03-07-02-02-03-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/03-07-02-02-03/service/doc-03-07-02-02-03-03.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-02-hierarchical-dependency-injection/03-07-02-02-component-injectors/doc-03-07-02-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: dependency providers
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-in-action/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-in-action/doc-03-07-03.component.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: the provider object literal
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-01-the-provider-object-literal/doc-03-07-03-01.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-01-the-provider-object-literal/doc-03-07-03-01.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-in-action/doc-03-07-04.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-04-di-providers/doc-03-07-04.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07-routing.module.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: useClass
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/doc-03-07-03-02.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/doc-03-07-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/service/doc-03-07-03-02-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/service/doc-03-07-03-02-02.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

feat: doc: fundamental: di: useExisting
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/doc-03-07-03-02.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/service/doc-03-07-03-02-03.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-02-alternative-class-providers/service/doc-03-07-03-02-04.service.ts
Due: npm run lint:ts, prettier --write

feat: doc: fundamental: di: useValue
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/doc-03-07-03-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/doc-03-07-03-03.component.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/03-07-03-03-value-providers/service/doc-03-07-03-03-01.service.ts
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/03-07-03-di-providers/doc-03-07-03.component.html
  src/app/routes/doc/03-fundamental/03-07-dependency-injection/doc-03-07.module.ts
Due: editorconfig-tools fix, npm run lint:ts, prettier --write

Path conditions:
  editorconfig-tools fix: any of: *.{cmd,html,json,md,sh,txt,xml,yml}
  npm run lint:ts: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.less)
  npm run lint:style: any of: *.less
  src/assets/*: any of: ignore
