Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, npm run lint:style, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ViewData
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/01/x-01.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/01/x-01.component.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ViewState
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/02/x-02.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/02/x-02.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): change detection operations
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/02/x-02.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.b.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.c.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
  src/assets/images/20190710192810.png
Due: tslint -c tslint.json, prettier --write

style: use `BrowserAnimationsModule` instead of NoopAnimationsModule
  src/app/app.module.ts
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ChangeDetectorRef.detach()
  src/app/layout/default/header/components/header-i18n/header-i18n.component.html
  src/app/layout/default/header/components/header-user/header-user.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/01/x-04-01.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/01/x-04-01.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ChangeDetectorRef.reattach()
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/01/x-04-01.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/02/x-04-02.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/02/x-04-02.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/02/x-04-02.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ChangeDetectorRef.markForCheck()
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/02/x-04-02.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/02/x-04-02.b.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/03/x-04-03.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/03/x-04-03.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/03/x-04-03.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.everything-you-need-to-know-about-change-detection): ChangeDetectorRef.detectChanges()
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/03/x-04-03.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/04/x-04-04.a.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/04/x-04-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/04/x-04-04.component.ts
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.boosting-performance-of-angular-applications-with-manual-change-detection): init
  src/app/routes/blog/blog.module.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/01/x-01.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/01/x-01.component.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection-routing.module.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.component.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

chore(blog.boosting-performance-of-angular-applications-with-manual-change-detection): ApplicationRef.tick()
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/01/x-01.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/01/x-01.component.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.component.html
Due: tslint -c tslint.json, prettier --write

chore(blog.boosting-performance-of-angular-applications-with-manual-change-detection): NgZone.runOutsideAngular()
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/02/x-02.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/02/x-02.component.ts
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.if-you-think-ngdocheck-means-your-component-is-being-checked): init
  src/app/routes/blog/blog.module.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked-routing.module.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.module.ts
  src/assets/tmp/app-data.json
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
Due: tslint -c tslint.json, prettier --write

chore(blog.if-you-think-ngdocheck-means-your-component-is-being-checked): ngDoCheck()
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.a.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.module.ts
Due: tslint -c tslint.json, prettier --write

chore(blog.if-you-think-ngdocheck-means-your-component-is-being-checked): when to use ngDoCheck()
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.a.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/01/x-01.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/02/x-02.a.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/02/x-02.b.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/02/x-02.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/02/x-02.component.ts
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.module.ts
Due: tslint -c tslint.json, prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(guide.testing): components with RouterLink
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/02/x-02.b.component.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-11-components-with-routerlink/doc-05-04-04-11.component.html
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-11-components-with-routerlink/doc-05-04-04-11.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-11-components-with-routerlink/doc-05-04-04-11.component.ts
Due: tslint -c tslint.json, prettier --write

feat(guide.testing): use a page object
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-12-use-a-page-object/doc-05-04-04-12.component.html
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-12-use-a-page-object/doc-05-04-04-12.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-12-use-a-page-object/doc-05-04-04-12.component.ts
Due: tslint -c tslint.json, prettier --write

feat(guide.angular-elements): preview
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/01-angular-elements-overview/doc-03-03-08-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.component.html
  src/styles/index.less
Due: npm run lint:style, prettier --write

feat(guide.angular-elements): example: as a dynamic component
  angular.json
  package-lock.json
  package.json
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/doc-03-03-08-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/doc-03-03-08-04.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.module.ts
Due: tslint -c tslint.json, prettier --write

feat(guide.angular-elements): example: as a custom element
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/doc-03-03-08-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/doc-03-03-08-04.component.ts
Due: tslint -c tslint.json, prettier --write

feat(guide.angular-elements): example: as a custom element
  .prettierrc
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/doc-03-03-08-04.component.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat(guide.angular-elements): typings for custom elements
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/05-typings-for-custom-elements/doc-03-03-08-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/05-typings-for-custom-elements/doc-03-03-08-05.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.module.ts
Due: tslint -c tslint.json, prettier --write

fix: spin is not rotating
  src/styles/index.less
Due: npm run lint:style, prettier --write

feat(pont): support OAS3
  _mock/api/swagger/json/sorting-dr.swagger.json
  _mock/api/swagger/json/sorting-pd.swagger.json
  pont/pont-config.json
  pont/service.template.ts
Due: prettier --write

fix(pont): support polymorphism
  pont/pont-config.json
  pont/service.template.ts
Due: prettier --write

fix(pont): response type could be `any`
  package-lock.json
  package.json
  pont/service.template.ts
Due: prettier --write

polish(pont): polish comments
  pont/pont-config.json
  pont/service.template.ts
  src/app/routes/home/home.component.ts
Due: tslint -c tslint.json, prettier --write

chore: upgrade to ng-alain@8.1.0
  package-lock.json
  package.json
Due: prettier --write

fix(pont): add http-client
  src/app/core/api/http-client.ts
Due: tslint -c tslint.json, prettier --write

chore(pont): change DEFS to DEF
  pont/service.template.ts
Due: prettier --write

chore: update dependencies
  _mock/api/user.controller.ts
  package-lock.json
  package.json
  scripts/color-less.js
Due: prettier --write

chore(pont): update pont config
  _mock/api/swagger/json/sorting-dr.swagger.json
  _mock/api/swagger/json/sorting-pd.swagger.json
  _mock/api/swagger/swagger.controller.ts
  _mock/index.ts
  pont/pont-config.json
  pont/service.template.ts
Due: prettier --write

chore: import `DelonACLModule.forRoot()` in delon.module.ts
  src/app/delon.module.ts
  src/app/shared/shared.module.ts
Due: tslint -c tslint.json, prettier --write

refactor: place pont config files under `config/pont/` folder
  config/pont/pont-config.json
  config/pont/service.template.ts
  config/pont/transform.template.ts
Due: prettier --write

feat: adopt docker
  .dockerignore
  Dockerfile
  config/nginx/nginx.conf
  package.json
Due: prettier --write

refactor(ci): install production dependencies in ci
  .dockerignore
  Dockerfile
  package-lock.json
  package.json
  src/app/layout/passport/passport.component.html
Due: prettier --write

Path conditions:
  tslint -c tslint.json: any of: src/**/*.ts
  tslint -c projects/learning-angular-lib/tslint.json: any of: projects/learning-angular-lib/src/**/*.ts
  npm run lint:style: (any of: src/**/*.less) or (any of: projects/learning-angular-lib/src/**/*.less)
  prettier --write: any of: *.{ts,js,json,html,css,scss,less,md,yml}
