Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, npm run lint:style, prettier --write

.lintstagedrc:

{
  "linters": {
    "src/**/*.ts": ["tslint -c tslint.json"],
    "projects/learning-angular-lib/src/**/*.ts": ["tslint -c projects/learning-angular-lib/tslint.json"],
    "src/**/*.less": ["npm run lint:style"],
    "projects/learning-angular-lib/src/**/*.less": ["npm run lint:style"],
    "*.{ts,js,json,html,css,scss,less,md,yml}": ["prettier --write", "git add"]
  },
  "ignore": ["src/assets/*"]
}

refactor(a-comprehensive-guide-to-angular-onpush): on-push-and-view-queries
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-05/02-05-01/x-02-05-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-05/02-05-01/x-02-05-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/02-05/x-02-05.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-01.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-01.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/02/x-02.component.ts
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/routes/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.module.ts
Due: tslint -c tslint.json, prettier --write

test: fix test build error
  .circleci/config.yml
  .idea/runConfigurations/docker_compose_production.xml
  .idea/runConfigurations/learning_angular.xml
  deploy/nginx.conf
  src/app/app.effects.spec.ts
  src/app/core/utils/dto.util.spec.ts
  src/app/routes/doc/03-FUNDAMENTALS/09-httpclient/03-08-06-testing-http-requests/doc-03-08-06.component.spec.ts
  src/app/routes/doc/05-DEV-WORKFLOW/05-04-testing/05-04-04-component-test-scenarios/05-04-04-04-component-with-async-service/doc-05-04-04-04.component.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/01.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/02.spec.ts
  src/app/routes/pkgs/jasmine/namespace/jasmine/method/03.spec.ts
  src/app/routes/pkgs/jasmine/namespace/spy/calls/01.spec.ts
  src/test.ts
Due: tslint -c tslint.json, prettier --write

feat: layout using ng-zorro
  .eslintignore
  angular.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/shared/shared.module.ts
  src/style.less
  src/tsconfig.app.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor: refactor sidebar menu tree using ng-zorro
  src/app/app.component.html
  src/app/routes/doc/03-FUNDAMENTALS/01-tour-of-heroes-app/service/hero.service.ts
  src/style.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor: consistent with standard specification
  .dockerignore
  .env
  .idea/runConfigurations/learning_angular.xml
  Dockerfile
  angular.json
  projects/learning-angular-schematics/package-lock.json
  projects/learning-angular-schematics/package.json
  projects/learning-angular-schematics/tsconfig.json
  scripts/commit-msg.js
  src/index.less
Due: npm run lint:style, prettier --write

build: change build output path
  .env
  .idea/runConfigurations/learning_angular.xml
  .mock/tsconfig.json
  angular.json
  deploy/nginx.conf
Due: prettier --write

chore: upgrade to @luotao/learning-angular-lib@0.1.1
  .idea/compiler.xml
  package-lock.json
  package.json
  src/app/views/blog/never-again-be-confused-when-implementing-controlvalueaccessor/never-again-be-confused-when-implementing-controlvalueaccessor.module.ts
  src/app/views/doc/guide/04-TECHNIQUES/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.html
  src/app/views/doc/guide/04-TECHNIQUES/04-06-angular-libraries/04-06-03-creating-libraries/doc-04-06-03.component.ts
  src/app/views/doc/guide/04-TECHNIQUES/04-06-angular-libraries/doc-04-06.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): attribute-binding#binding-to-the-class-attribute
  .stylelintrc.js
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/03-03-02-08-02-class-binding/doc-03-03-02-08-02.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/03-03-02-08-02-class-binding/doc-03-03-02-08-02.component.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.component.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.module.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.routing.module.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/binding-to-the-class-attribute.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/binding-to-the-class-attribute.component.ts
  src/app/views/doc/guide/main-concepts/templates/templates.module.ts
  src/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(guide): attribute-binding#binding-to-the-style-attribute
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/03-03-02-08-03-style-binding/doc-03-03-02-08-03.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/03-03-02-08-03-style-binding/doc-03-03-02-08-03.component.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/attribute-binding.module.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/binding-to-the-style-attribute.component.html
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/binding-to-the-style-attribute.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): built-in-directives#ngif
  src/app/app.component.html
  src/app/views/doc/guide/main-concepts/03-components-templates/doc-03-03.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-01-ngclass/doc-03-02-02-09-01.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-01-ngclass/doc-03-02-02-09-01.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-02-ngstyle/doc-03-02-02-09-02.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-02-ngstyle/doc-03-02-02-09-02.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-03-ngmodel/doc-03-02-02-09-03.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/03-02-02-09-03-ngmodel/doc-03-02-02-09-03.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/doc-03-02-02-09.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-09-built-in-attribute-directives/doc-03-02-02-09.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02-01.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-04-ngswitch/doc-03-02-02-10-04.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-04-ngswitch/doc-03-02-02-10-04.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/doc-03-02-02-10.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/doc-03-02-02-10.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.routing.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngif/ngif.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngif/ngif.component.ts
  src/app/views/doc/guide/main-concepts/directives/directives.module.ts
  src/app/views/doc/guide/main-concepts/main-concepts.module.ts
  src/app/views/doc/guide/main-concepts/templates/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01.component.html
  src/app/views/doc/guide/main-concepts/templates/03-02-02-10-built-in-structural-directives/03-02-02-10-01-ngif/doc-03-02-02-10-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/doc-03-03-02.component.html
  src/app/views/doc/guide/main-concepts/templates/templates.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): built-in-directives#ngfor
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02-01.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-02-ngfor/doc-03-02-02-10-02.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/doc-03-02-02-10.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): built-in-directives#ngfor-with-trackby
  package-lock.json
  package.json
  src/app/core/interceptors/default/default.interceptor.ts
  src/app/core/utils/dto.util.spec.ts
  src/app/core/utils/dto.util.ts
  src/app/core/vm/page.ts
  src/app/core/vm/response-result.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.01.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.01.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/ngfor/ngfor.component.ts
  src/app/views/package/ngrx/store/02-architecture/02-03-selectors/02-03-01/02-03-01-03/store/selectors/02-03-01-03.selectors.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): pipes
  src/app/app.component.html
  src/app/views/doc/guide/main-concepts/03-components-templates/11-pipes/doc-03-02-11-routing.module.ts
  src/app/views/doc/guide/main-concepts/03-components-templates/11-pipes/doc-03-02-11.component.ts
  src/app/views/doc/guide/main-concepts/03-components-templates/11-pipes/doc-03-02-11.module.ts
  src/app/views/doc/guide/main-concepts/03-components-templates/doc-03-03.module.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/03-02-02-10-03-template-input-variable/doc-03-02-02-10-03.component.ts
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/03-02-02-10-built-in-structural-directives/doc-03-02-02-10.component.html
  src/app/views/doc/guide/main-concepts/directives/built-in-directives/built-in-directives.module.ts
  src/app/views/doc/guide/main-concepts/templates/attribute-binding/binding-to-the-style-attribute.component.html
  src/app/views/doc/guide/main-concepts/templates/doc-03-03-02.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-01-using-pipes/doc-03-02-11-01.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-01-using-pipes/doc-03-02-11-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-02-parameterizing-a-pipe/doc-03-02-11-02.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-02-parameterizing-a-pipe/doc-03-02-11-02.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-02-parameterizing-a-pipe/pipe/pipe-03-02-11-02.pipe.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-03-chaining-pipes/doc-03-02-11-03.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-03-chaining-pipes/doc-03-02-11-03.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-04-custom-pipes/doc-03-02-11-04.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-04-custom-pipes/doc-03-02-11-04.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-05-pipes-and-change-detection/doc-03-02-11-05.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-05-pipes-and-change-detection/doc-03-02-11-05.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-05-pipes-and-change-detection/pipe/pipe-03-02-11-05.pipe.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-06-pure-and-impure-pipes/03-02-11-06-01-the-impure-asyncpipe/doc-03-02-11-06-01.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-06-pure-and-impure-pipes/03-02-11-06-01-the-impure-asyncpipe/doc-03-02-11-06-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-06-pure-and-impure-pipes/doc-03-02-11-06.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/03-02-11-06-pure-and-impure-pipes/pipes/doc-03-02-11-06.pipe.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/pipes.component.html
  src/app/views/doc/guide/main-concepts/templates/pipes/pipes.component.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/pipes.module.ts
  src/app/views/doc/guide/main-concepts/templates/pipes/pipes.routing.module.ts
  src/app/views/doc/guide/main-concepts/templates/templates.component.html
  src/app/views/doc/guide/main-concepts/templates/templates.component.ts
  src/app/views/doc/guide/main-concepts/templates/templates.module.ts
  src/app/views/doc/guide/main-concepts/templates/templates.routing.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(guide): event-binding#binding-to-events
  src/app/app.component.html
  src/app/views/doc/guide/main-concepts/templates/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.html
  src/app/views/doc/guide/main-concepts/templates/03-02-02-07-event-binding/03-02-02-07-01-target-event/doc-03-02-02-07-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/03-02-02-07-event-binding/doc-03-02-02-07.component.html
  src/app/views/doc/guide/main-concepts/templates/03-02-02-07-event-binding/doc-03-02-02-07.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/binding-to-events.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/binding-to-events.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.module.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.routing.module.ts
  src/app/views/doc/guide/main-concepts/templates/templates.component.html
  src/app/views/doc/guide/main-concepts/templates/templates.module.ts
  src/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(guide): event-binding#custom-events-with-eventemitter
  .eslintrc.js
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-02-$event-and-event-handling-statements/doc-03-02-02-07-02.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03-01.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/03-02-02-07-03-custom-events-with-eventemitter/doc-03-02-02-07-03.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/custom-events-with-eventemitter.01.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/custom-events-with-eventemitter.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/custom-events-with-eventemitter.component.ts
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.component.html
  src/app/views/doc/guide/main-concepts/templates/event-binding/event-binding.module.ts
Due: tslint -c tslint.json, prettier --write

feat: remove hmr
  .idea/inspectionProfiles/Project_Default.xml
  .mock/index.ts
  .mock/package-lock.json
  .mock/package.json
  .mock/tsconfig.json
  .npmrc
  package-lock.json
  package.json
  src/environments/environment.hmr.ts
  src/environments/environment.ts
  src/hmr.ts
  src/index.less
  src/main.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

chore: add idea run configuration
  .idea/runConfigurations/json_server.xml
  .idea/runConfigurations/start.xml
Due: none

fix: fix dependencies before upgrade
  package-lock.json
  package.json
Due: prettier --write

fix: re-generate package-lock.json
  package-lock.json
Due: prettier --write

fix: re-generate package-lock.json
  .idea/runConfigurations/install.xml
  angular.json
  package-lock.json
  package.json
  prettier.config.js
Due: prettier --write

refactor: remove @angular/material
  .idea/jsLinters/eslint.xml
  angular.json
  package-lock.json
  package.json
  src/app/shared/shared.module.ts
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/01/x-01-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/01/x-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/01/x-02-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/02/x-02-02.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/03/01/x-02-03-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/03/02/x-02-03-02.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/03/03/x-02-03-03.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/03/x-02-03.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/04/x-02-04.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-01.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/02/05/x-02-05-02.component.html
  src/app/views/blog/a-comprehensive-guide-to-angular-onpush/a-comprehensive-guide-to-angular-onpush.component.html
  src/app/views/views.module.ts
Due: tslint -c tslint.json, prettier --write

chore: bump to ng-zorro-antd@11.4.1
  package-lock.json
  package.json
Due: prettier --write

chore: bump to @luotao/learning-angular-lib@0.2.1
  .idea/inspectionProfiles/Project_Default.xml
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to angular@12
  .npmrc
  angular.json
  package-lock.json
  package.json
  src/app/views/doc/guide/main-concepts/10-routing-navigation/01-the-basics/03-10-01-08/doc-03-10-01-08.component.ts
  src/app/views/doc/guide/main-concepts/10-routing-navigation/02-the-sample-application/auth/login/login.component.ts
  src/app/views/package/jasmine/namespace/jasmine/member/01.spec.ts
  src/polyfills.ts
  src/test.ts
  tsconfig.json
Due: tslint -c tslint.json, prettier --write

chore: rearrange
  .eslintignore
  Dockerfile
  angular.json
  docker-compose.yml
  e2e/protractor.conf.js
  e2e/tsconfig.e2e.json
  nginx.conf
  src/index.html
Due: prettier --write

feat(ngxs): init
  angular.json
  package.json
  projects/ngxs/.browserslistrc
  projects/ngxs/src/app/app-routing.module.ts
  projects/ngxs/src/app/app.component.html
  projects/ngxs/src/app/app.component.less
  projects/ngxs/src/app/app.component.ts
  projects/ngxs/src/app/app.module.ts
  projects/ngxs/src/assets/.gitkeep
  projects/ngxs/src/environments/environment.prod.ts
  projects/ngxs/src/environments/environment.ts
  projects/ngxs/src/favicon.ico
  projects/ngxs/src/index.html
  projects/ngxs/src/main.ts
  projects/ngxs/src/polyfills.ts
  projects/ngxs/src/styles.less
  projects/ngxs/tsconfig.app.json
  projects/ngxs/tsconfig.spec.json
Due: prettier --write

feat(ngxs): recipes/immutability-helpers
  .eslintrc.js
  .idea/codeStyles/Project.xml
  package-lock.json
  package.json
  projects/ngxs/src/app/app-routing.module.ts
  projects/ngxs/src/app/app.component.html
  projects/ngxs/src/app/app.component.ts
  projects/ngxs/src/app/app.module.ts
  projects/ngxs/src/app/store/app.action.ts
  projects/ngxs/src/app/store/app.const.ts
  projects/ngxs/src/app/store/app.state.ts
  projects/ngxs/src/app/views/home/home.component.html
  projects/ngxs/src/app/views/home/home.component.ts
  projects/ngxs/src/app/views/recipes/immutability-helpers/immutability-helpers.component.html
  projects/ngxs/src/app/views/recipes/immutability-helpers/immutability-helpers.component.ts
  projects/ngxs/src/app/views/views-routing.module.ts
  projects/ngxs/src/app/views/views.module.ts
  projects/ngxs/src/styles.less
Due: prettier --write

feat(ngxs): concepts/select#memoized-selectors-with-arguments
  .idea/codeStyles/Project.xml
  projects/ngxs/src/app/store/app.state.ts
  projects/ngxs/src/app/views/recipes/immutability-helpers/immutability-helpers.component.html
  projects/ngxs/src/app/views/recipes/immutability-helpers/immutability-helpers.component.ts
Due: prettier --write

chore: remove lint-staged/husky/eslint/e2e
  .eslintignore
  .eslintrc.js
  .idea/markdown.xml
  .stylelintignore
  .stylelintrc.js
  angular.json
  docker-compose.yml
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.e2e.json
  husky.config.js
  lint-staged.config.js
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to angular 13
  .gitignore
  angular.json
  package-lock.json
  package.json
  prettier.config.js
  src/app/views/blog/here-is-what-you-need-to-know-about-dynamic-components/here-is-what-you-need-to-know-about-dynamic-components.module.ts
  src/app/views/blog/working-with-dom-in-angular/working-with-dom-in-angular.module.ts
  src/app/views/doc/guide/main-concepts/03-components-templates/07-dynamic-components/doc-03-03-07.module.ts
  src/app/views/doc/guide/main-concepts/03-components-templates/08-angular-elements/doc-03-03-08.module.ts
  src/app/views/doc/guide/main-concepts/04-forms/03-03-02-reactive-form/03-03-02-07-generating-form-controls-with-formbuilder/doc-03-03-02-07.component.ts
  src/app/views/doc/guide/main-concepts/08-dependency-injection/doc-03-08.module.ts
  src/polyfills.ts
  src/test.ts
Due: tslint -c tslint.json, prettier --write

feat(projects/content-projection): init
  .idea/learning-angular.iml
  angular.json
  package-lock.json
  package.json
  projects/content-projection/.browserslistrc
  projects/content-projection/src/app/app-routing.module.ts
  projects/content-projection/src/app/app.component.html
  projects/content-projection/src/app/app.component.less
  projects/content-projection/src/app/app.component.ts
  projects/content-projection/src/app/app.module.ts
  projects/content-projection/src/assets/.gitkeep
  projects/content-projection/src/environments/environment.prod.ts
  projects/content-projection/src/environments/environment.ts
  projects/content-projection/src/favicon.ico
  projects/content-projection/src/index.html
  projects/content-projection/src/main.ts
  projects/content-projection/src/polyfills.ts
  projects/content-projection/src/styles.less
  projects/content-projection/tsconfig.app.json
  projects/ngxs/.browserslistrc
Due: prettier --write

feat(projects/content-projection): https://angular.io/guide/content-projection#single-slot-content-projection
  angular.json
  projects/content-projection/README.md
  projects/content-projection/src/app/app.component.html
  projects/content-projection/src/app/app.module.ts
  projects/content-projection/src/app/comp-a/comp-a.component.html
  projects/content-projection/src/app/comp-a/comp-a.component.less
  projects/content-projection/src/app/comp-a/comp-a.component.ts
  projects/content-projection/src/styles.less
Due: prettier --write
