Repository luotaoyeah/learning-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, tslint -c projects/learning-angular-lib/tslint.json, npm run lint:style, prettier --write

.lintstagedrc:

{
  "linters": {
    "src/**/*.ts": ["tslint -c tslint.json"],
    "projects/learning-angular-lib/src/**/*.ts": ["tslint -c projects/learning-angular-lib/tslint.json"],
    "src/**/*.less": ["npm run lint:style"],
    "projects/learning-angular-lib/src/**/*.less": ["npm run lint:style"],
    "*.{ts,js,json,html,css,scss,less,md,yml}": ["prettier --write", "git add"]
  },
  "ignore": ["src/assets/*"]
}

refactor(mock): rename `_mock` to `.mock`
  .dockerignore
  .mock/api/doc/03/10/02/doc-03-10-02.ts
  .mock/api/pkgs/ng-alain/delon/abc/st/01/01.ts
  .mock/api/pkgs/ng-alain/delon/abc/st/08/01.ts
  .mock/api/pkgs/ngrx/01.ts
  .mock/api/user.controller.ts
  .mock/db/index.ts
  .mock/db/provinces.ts
  .mock/index.ts
  .mock/proxy.json
  Dockerfile
  angular.json
  e2e/protractor.conf.js
  package.json
Due: prettier --write

chore: commit .idea
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/deployment.xml
  .idea/dictionaries/Administrator.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/learning-angular.iml
  .idea/markdown-exported-files.xml
  .idea/markdown-navigator.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/docker_compose.xml
  .idea/sbt.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
Due: none

chore: adopt docker-compose
  Dockerfile
  docker-compose.yml
Due: prettier --write

ci: change port to 3011/3012/3013
  .mock/index.ts
  .mock/proxy.json
  angular.json
  docker-compose.yml
  e2e/protractor.conf.js
Due: prettier --write

ci: use separate compose file in production
  .idea/runConfigurations/docker_compose_production.xml
  angular.json
  config/nginx/nginx.conf
  docker-compose.production.yml
  docker-compose.yml
  e2e/protractor.conf.js
Due: prettier --write

chore: bump to ng-alain@8.5.1
  .env
  config/pont/pont-config.json
  config/pont/service.template.ts
  config/pont/transform.template.ts
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/api/http-client.ts
  src/app/core/interceptors/default/default.interceptor.ts
  src/app/layout/default/header/components/header-i18n/header-i18n.component.html
  src/app/layout/default/header/components/header-user/header-user.component.html
  src/app/routes/blog/boosting-performance-of-angular-applications-with-manual-change-detection/boosting-performance-of-angular-applications-with-manual-change-detection.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/04/x-04.component.html
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/everything-you-need-to-know-about-change-detection.component.html
  src/app/routes/blog/if-you-think-ngdocheck-means-your-component-is-being-checked/if-you-think-ngdocheck-means-your-component-is-being-checked.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/04-example-a-popup-service/01/doc-03-03-08-04.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/08-angular-elements/doc-03-03-08.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/01-the-basics/doc-03-10-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/admin/admin-dashboard/admin-dashboard.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/admin/admin/admin.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/admin/manage-crises/manage-crises.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/admin/manage-heroes/manage-heroes.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/auth/login/login.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/compose-message/compose-message.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis-detail/crisis-detail.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis-home/crisis-home.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis-list/crisis-list.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/crisis/crisis.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/hero/hero-detail/hero-detail.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/02-the-sample-application/hero/hero-list/hero-list.component.html
  src/app/routes/doc/03-FUNDAMENTALS/10-routing-navigation/doc-03-10.component.html
  src/app/routes/doc/04-TECHNIQUES/04-02-i18n/doc-04-02.component.html
Due: tslint -c tslint.json, prettier --write

chore: adjust style
  src/app/layout/default/header/components/header-i18n/header-i18n.component.html
  src/app/layout/default/header/components/header-i18n/header-i18n.component.ts
  src/app/layout/default/header/components/header-user/header-user.component.html
  src/app/layout/default/header/components/i18n/header-i18n.component.html
  src/app/layout/default/header/components/i18n/header-i18n.component.ts
  src/app/layout/default/header/components/setting/header-setting.component.html
  src/app/layout/default/header/components/setting/header-setting.component.ts
  src/app/layout/default/header/header.component.html
  src/app/layout/default/sidebar/sidebar.component.html
  src/app/layout/default/sidebar/sidebar.component.less
  src/app/layout/default/sidebar/sidebar.component.ts
  src/app/layout/layout.module.ts
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor: load i18n data using import() instead of HttpClient
  src/app/app.module.ts
  src/app/core/consts/i18n/en-US.ts
  src/app/core/consts/i18n/zh-CN.ts
  src/app/core/consts/index.ts
  src/app/core/services/startup/startup.service.spec.ts
  src/app/core/services/startup/startup.service.ts
  src/assets/tmp/i18n/en-US.json
  src/assets/tmp/i18n/zh-CN.json
  src/tsconfig.spec.json
Due: tslint -c tslint.json, prettier --write

ci: cache in dockerfile
  Dockerfile
  package-lock.json
  package.json
  src/app/app.module.ts
Due: tslint -c tslint.json, prettier --write

chore: update dependencies
  package-lock.json
  package.json
  src/app/core/services/startup/startup.service.ts
  src/app/routes/pkgs/ngrx/store/02-architecture/02-02-reducers/02-02-01/x-02-02-01.component.ts
  tsconfig.json
Due: tslint -c tslint.json, prettier --write

refactor(layout): set changeDetection to default
  src/app/layout/default/header/fullscreen/header-fullscreen.component.ts
  src/app/layout/default/header/i18n/header-i18n.component.ts
  src/app/layout/default/header/layout-header.component.ts
  src/app/layout/default/header/setting/header-setting.component.ts
  src/app/layout/default/header/storage/header-storage.component.ts
  src/app/layout/default/header/user/header-user.component.ts
  src/app/layout/default/sidebar/sidebar.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.form-validation): reactive-form-validation
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.form-validation): custom-validators
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-02-reactive-form-validation/doc-03-03-04-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-03-custom-validators/doc-03-03-04-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-03-custom-validators/validators/forbidden-name.validator.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.form-validation): cross-field-validation
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.html
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.less
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-04-cross-field-validation/doc-03-03-04-04.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-04-cross-field-validation/validators/password.validator.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.form-validation): async-validation
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.less
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-05-async-validation/validators/unique.validator.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.component-styles): using-component-styles
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/01-using-component-styles/doc-03-03-06-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/01-using-component-styles/doc-03-03-06-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-02-06-01-using-component-styles/doc-03-02-06-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-02-06-01-using-component-styles/doc-03-02-06-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.module.ts
  src/app/routes/doc/03-FUNDAMENTALS/04-forms/03-03-04-form-validation/03-03-04-05-async-validation/doc-03-03-04-05.component.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-styles): style-scope
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/02-style-scope/doc-03-03-06-02.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/02-style-scope/doc-03-03-06-02.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/02-style-scope/doc-03-03-06-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/02-style-scope/doc-03-03-06-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-02-06-02-style-scope/doc-03-02-06-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-02-06-02-style-scope/doc-03-02-06-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-02-06-02-style-scope/doc-03-02-06-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-styles): :host
  .idea/watcherTasks.xml
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-03-06-03-special-selectors/03-03-06-03-01-host/03-03-06-03-01-01/doc-03-03-06-03-01-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-03-06-03-special-selectors/03-03-06-03-01-host/03-03-06-03-01-02/doc-03-03-06-03-01-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-03-06-03-special-selectors/03-03-06-03-02-host-context/doc-03-03-06-03-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-03-06-03-special-selectors/03-03-06-03-03-ng-deep/doc-03-03-06-03-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/01/doc-03-03-06-03-01-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/01/doc-03-03-06-03-01-01.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/01/doc-03-03-06-03-01-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/02/doc-03-03-06-03-01-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/02/doc-03-03-06-03-01-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/02/doc-03-03-06-03-01-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/doc-03-03-06-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/doc-03-03-06-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.scss
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/doc-03-03-06-03-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/doc-03-03-06-03-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.scss
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/doc-03-03-06-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/doc-03-03-06-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.module.ts
  src/assets/images/20190403081312.png
  src/styles/index.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.component-styles): :host-context
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/doc-03-03-06-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/01-host/doc-03-03-06-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.scss
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/01/doc-03-03-06-03-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/doc-03-03-06-03-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/02-host-context/doc-03-03-06-03-02.component.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.component-styles): ::ng-deep
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/01/doc-03-03-06-03-03-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/01/doc-03-03-06-03-03-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/02/doc-03-03-06-03-03-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/02/doc-03-03-06-03-03-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.scss
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/03-special-selectors/03-ng-deep/doc-03-03-06-03-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.module.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.component-styles): view-encapsulation
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/01/doc-03-03-06-05-01.component.css
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/01/doc-03-03-06-05-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/01/doc-03-03-06-05-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/02/doc-03-03-06-05-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/02/doc-03-03-06-05-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/02/doc-03-03-06-05-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/03/doc-03-03-06-05-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/03/doc-03-03-06-05-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/03/doc-03-03-06-05-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-01/doc-03-03-06-05-01.component.css
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-01/doc-03-03-06-05-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-02/doc-03-03-06-05-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-02/doc-03-03-06-05-02.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-03/doc-03-03-06-05-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05-03/doc-03-03-06-05-03.component.less
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/05-view-encapsulation/doc-03-03-06-05.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/doc-03-03-06.module.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(doc.guide.component-styles): inspecting-generated-css
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/06-inspecting-generated-css/doc-03-03-06-06.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/06-inspecting-generated-css/doc-03-03-06-06.component.less
Due: npm run lint:style, prettier --write

refactor(doc.guide.component-interaction): pass-data-from-parent-to-child-with-input-binding
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-02-05-01-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-03-05-01.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-03-05-01.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-03-05-01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-03-05-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): intercept-input-property-changes-with-a-setter
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/01-pass-data-from-parent-to-child-with-input-binding/doc-03-03-05-01.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/02-intercept-input-property-changes-with-a-setter/doc-03-03-05-02-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/02-intercept-input-property-changes-with-a-setter/doc-03-03-05-02.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/02-intercept-input-property-changes-with-a-setter/doc-03-03-05-02.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/02-intercept-input-property-changes-with-a-setter/doc-03-03-05-02.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/02-intercept-input-property-changes-with-a-setter/doc-03-03-05-02.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): intercept-input-property-changes-with-ngonchanges
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/03-intercept-input-property-changes-with-ngonchanges/doc-03-03-05-03.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/03-intercept-input-property-changes-with-ngonchanges/doc-03-03-05-03.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/03-intercept-input-property-changes-with-ngonchanges/doc-03-03-05-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/03-intercept-input-property-changes-with-ngonchanges/doc-03-03-05-03.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): parent-listens-for-child-event
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/04-parent-listens-for-child-event/doc-03-03-05-04-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/04-parent-listens-for-child-event/doc-03-03-05-04.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/04-parent-listens-for-child-event/doc-03-03-05-04.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/04-parent-listens-for-child-event/doc-03-03-05-04.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): parent-interacts-with-child-via-local-variable
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/05-parent-interacts-with-child-via-local-variable/doc-03-03-05-05-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/05-parent-interacts-with-child-via-local-variable/doc-03-03-05-05.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/05-parent-interacts-with-child-via-local-variable/doc-03-03-05-05.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/05-parent-interacts-with-child-via-local-variable/doc-03-03-05-05.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/05-parent-interacts-with-child-via-local-variable/doc-03-03-05-05.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): parent-calls-an-viewchild
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/06-parent-calls-an-viewchild/doc-03-03-05-06-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/06-parent-calls-an-viewchild/doc-03-03-05-06.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/06-parent-calls-an-viewchild/doc-03-03-05-06.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/06-parent-calls-an-viewchild/doc-03-03-05-06.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/06-parent-calls-an-viewchild/doc-03-03-05-06.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(doc.guide.component-interaction): parent-and-children-communicate-via-a-service
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/doc-03-03-05-07-01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/doc-03-03-05-07.01.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/doc-03-03-05-07.01.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/doc-03-03-05-07.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/doc-03-03-05-07.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/07-parent-and-children-communicate-via-a-service/service/doc-03-03-05-07.service.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/05-component-interaction/doc-03-03-05.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(ng-alain): remove header
  .doc/COMMIT_CONVENTION.md
  angular.json
  package.json
  scripts/commit-msg.js
  src/app/core/consts/i18n/en-US.ts
  src/app/core/consts/i18n/zh-CN.ts
  src/app/layout/callback/callback.component.ts
  src/app/layout/default/header/fullscreen/header-fullscreen.component.html
  src/app/layout/default/header/fullscreen/header-fullscreen.component.i18n.ts
  src/app/layout/default/header/fullscreen/header-fullscreen.component.ts
  src/app/layout/default/header/i18n/header-i18n.component.html
  src/app/layout/default/header/i18n/header-i18n.component.ts
  src/app/layout/default/header/layout-header.component.html
  src/app/layout/default/header/layout-header.component.ts
  src/app/layout/default/header/setting/header-setting.component.html
  src/app/layout/default/header/setting/header-setting.component.ts
  src/app/layout/default/header/storage/header-storage.component.html
  src/app/layout/default/header/storage/header-storage.component.i18n.ts
  src/app/layout/default/header/storage/header-storage.component.ts
  src/app/layout/default/header/user/header-user.component.html
  src/app/layout/default/header/user/header-user.component.ts
  src/app/layout/default/layout-default.component.html
  src/app/layout/exception/exception.module.ts
  src/app/layout/layout.module.ts
  src/app/layout/passport/login/passport-login.component.html
  src/app/layout/passport/login/passport-login.component.less
  src/app/layout/passport/login/passport-login.component.ts
  src/app/layout/passport/passport.component.html
  src/app/layout/passport/passport.component.less
  src/app/layout/passport/passport.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-02-02-13-template-expression-operators/03-02-02-13-02-safe-navigation-operator/doc-03-02-02-13-02.component.html
  src/app/routes/routes-routing.module.ts
  src/app/routes/routes.module.ts
  src/hmr.ts
  src/index.html
  src/main.ts
  src/test.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

feat: adopt @angular/material
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/routes/home/home.component.html
  src/app/routes/routes.module.ts
  src/index.html
  src/main.ts
  src/styles.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(ng-alain): menu button
  angular.json
  scripts/color-less.js
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/shared.module.ts
  src/style.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(ng-alain): refactor menus/routes
  src/app/app.component.html
  src/assets/tmp/app-data.json
Due: prettier --write

refactor(ng-alain): remove sidebar
  src/app/layout/default/layout-default.component.html
  src/app/layout/default/layout-default.component.ts
  src/app/layout/default/sidebar/sidebar.component.html
  src/app/layout/default/sidebar/sidebar.component.less
  src/app/layout/default/sidebar/sidebar.component.ts
  src/app/layout/layout.module.ts
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(ng-alain): remove default-layout
  .idea/inspectionProfiles/Project_Default.xml
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/layout/default/layout-default.component.html
  src/app/layout/default/layout-default.component.ts
  src/app/layout/layout.module.ts
  src/app/routes/exception/403.component.ts
  src/app/routes/exception/404.component.ts
  src/app/routes/exception/500.component.ts
  src/app/routes/exception/exception-routing.module.ts
  src/app/routes/exception/exception.module.ts
  src/app/routes/routes-routing.module.ts
  src/app/shared/components/page-not-found/page-not-found.component.html
  src/app/shared/components/page-not-found/page-not-found.component.scss
  src/app/shared/components/page-not-found/page-not-found.component.ts
  src/app/shared/json-schema/json-schema.module.ts
  src/app/shared/shared.module.ts
Due: tslint -c tslint.json, prettier --write

refactor(ng-alain): remove color-less
  .gitignore
  .stylelintignore
  angular.json
  package.json
  scripts/color-less.js
  src/app/routes/blog/everything-you-need-to-know-about-change-detection/03/x-03.component.html
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-03-02-07-property-binding/03-03-02-07-04-avoid-side-effects/doc-03-03-02-07-04.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/02-template-syntax/03-03-02-07-property-binding/doc-03-03-02-07.component.ts
  src/app/routes/doc/03-FUNDAMENTALS/03-components-templates/06-component-styles/04-loading-component-styles/04-template-link-tags/doc-03-03-06-04-04.component.html
  src/app/routes/doc/08-CLI-COMMANDS/08-15-version/doc-08-15.component.html
  src/assets/img/20190328090519.jpg
  src/assets/img/20190328090520.png
  src/assets/img/20190520115222.png
  src/assets/img/20190710192810.png
  src/assets/style/201904030955.css
  src/assets/styles/primeng.custom.css
  src/assets/tmp/img/1.png
  src/assets/tmp/img/2.png
  src/assets/tmp/img/3.png
  src/assets/tmp/img/4.png
  src/assets/tmp/img/5.png
  src/assets/tmp/img/6.png
  src/assets/tmp/img/avatar.jpg
  src/assets/tmp/img/bg1.jpg
  src/assets/tmp/img/bg10.jpg
  src/assets/tmp/img/bg2.jpg
  src/assets/tmp/img/bg3.jpg
  src/assets/tmp/img/bg4.jpg
  src/assets/tmp/img/bg5.jpg
  src/assets/tmp/img/bg6.jpg
  src/assets/tmp/img/bg7.jpg
  src/assets/tmp/img/bg8.jpg
  src/assets/tmp/img/bg9.jpg
  src/assets/tmp/img/half-float-bg-1.jpg
  src/style.less
  src/styles/index.less
  src/styles/theme.less
Due: tslint -c tslint.json, npm run lint:style, prettier --write

refactor(ng-alain): remove delon module
  src/app/app.module.ts
  src/app/core/consts/i18n/en-US.ts
  src/app/core/consts/i18n/zh-CN.ts
  src/app/core/consts/index.ts
  src/app/core/core.module.ts
  src/app/core/index.ts
  src/app/core/service/index.ts
  src/app/core/services/i18n/i18n.service.spec.ts
  src/app/core/services/i18n/i18n.service.ts
  src/app/core/services/index.ts
  src/app/core/services/startup/startup.service.ts
  src/app/core/utils/index.ts
  src/app/core/utils/yuan.spec.ts
  src/app/core/utils/yuan.ts
  src/app/delon.module.ts
Due: tslint -c tslint.json, prettier --write
